
{% block content %}
    {% if request.user.is_anonymous %}
        <a class="btn btn-secondary" style="background-color: #00efb2; color: black" href="{% url 'login' %}?next=/" role="button">Login</a>
    {% else %}
        <a class="btn btn-secondary" style="background-color: #dc3545; color: black" href="{% url 'logout' %}?next=/" role="button">Logout, {{ request.user.username }}</a>
    {% endif %}
{% endblock %}