<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="text-align: center">
            Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mt-2 me-auto mb-2 mb-lg-0">
                {% if request.user.is_staff %}
{#                    <li class="nav-item dropdown" style="padding-left: 30px; padding-right: 30px; text-align: center">#}
{#                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
{#                            data-bs-toggle="dropdown" aria-expanded="false">#}
{#                            Gestiuni#}
{#                        </a>#}
{#                        <ul class="dropdown-menu" style="background-color: lightblue" aria-labelledby="navbarDropdown">#}
{#                            <li><a style="background-color: lightblue; " class="dropdown-item text-dark text-uppercase text-center"#}
{#                                   href="{% url 'employees_actives' %}"><b>Angajati</b></a></li>#}
{#                            <li><a style="background-color: lightpink" class="dropdown-item text-dark text-uppercase text-center"#}
{#                                   href="{% url 'pontaj_lunar' %}"><b>Pontaj</b></a></li>#}
{#                            <li><a style="background-color: lightgreen" class="dropdown-item text-dark text-uppercase text-center"#}
{#                                   href="{% url 'contracts_all_employees' %}"><b>Contracte</b></a></li>#}
{#                            <li><a style="background-color: lightgrey" class="dropdown-item text-dark text-uppercase text-center"#}
{#                                   href="{% url 'alte_gestiuni' %}"><b>Alte gestiuni</b></a></li>#}
{##}
{#                        </ul>#}
{#                    </li>#}
                    <li class="nav-item ms-5" style="padding-left: 10px;text-align: center">
                        <a class="nav-link active mt-1 mb-1" style="color:black;
                         background-color: lightblue;  text-align: center;border-radius: 5px" href="{% url 'employees_actives' %}" role="button">
                            Angajati</a>
                    </li>
                    <li class="nav-item ms-5" style="padding-left: 10px;text-align: center">
                    <a class="nav-link active mt-1 mb-1" style="color:black;
                         background-color: lightpink;  text-align: center;border-radius: 5px" href="{% url 'pontaj_lunar' %}" role="button">
                            Pontaj</a>
                    </li>
                    <li class="nav-item ms-5" style="padding-left: 10px;text-align: center">
                    <a class="nav-link active mt-1 mb-1" style="color:black;
                         background-color: lightgreen;  text-align: center;border-radius: 5px" href="{% url 'contracts_all_employees' %}" role="button">
                            Contracte</a>
                    </li>
                    <li class="nav-item ms-5" style="padding-left: 10px;text-align: center">
                    <a class="nav-link active mt-1 mb-1" style="color:black;
                         background-color: #0dcaf0;  text-align: center; border-radius: 5px " href="{% url 'upload_csv' %}" role="button">
                            Upload pontaj</a>
                    </li>
                    <li class="nav-item ms-5" style="padding-left: 10px;text-align: center">
                    <a class="nav-link active mt-1 mb-1" style="color:black; background-color: lightgrey;
                    text-align: center; border-radius: 5px" href="{% url 'alte_gestiuni' %}">
                        <b>Alte gestiuni</b></a>
                    </li>
                {% endif %}
                {% if request.user.is_anonymous %}
                    <li class="nav-item m-3" style="padding-left: 30px; width: auto">
                        <a class="nav-link active mt-1" style="color:black;
                        background-color: #00efb2; text-align: center;border-radius: 5px" href="{% url 'login' %}">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item ms-5" style="padding-left: 30px;">
                        <a class="nav-link active mt-1" style="color:black;
                        background-color: #dc3545; text-align: center;border-radius: 5px" href="{% url 'logout' %}?next=/">Logout - {{ request.user.username }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


{#                <li class="nav-item">#}
{#                    <a class="nav-link link active" href="#">#}
{#                        Calendar#}
{#                    </a>#}
{#                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                        <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                        <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                        <li>#}
{#                            <hr class="dropdown-divider">#}
{#                        </li>#}
{#                        <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
{#                </li>#}
{#            </ul>#}
{#            <form class="d-flex">#}
{#                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#                <button class="btn btn-outline-success" type="submit">Search</button>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}

{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="/admin/" target="_blank">#}
{#                            Super Admin Panel#}
{#                        </a>#}
{#                    </li>#}

{#                <li class="nav-item">#}
{#                    <a class="nav-link active" href="{% url 'detail_user' %}">Users</a>#}
{#                </li>#}

{#                            <li><a style="background-color: red" class="dropdown-item text-dark text-uppercase text-center" href="{% url 'staff_view' %}"><b>Angajati</b></a></li>#}
