{% extends 'base.html' %}
{% load static %}

{% block title %}Absente {{ angajat.angajat.nume_angajat }} {{ month_nr }}/{{ year_ }}{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    {% if request.user.is_staff %}

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="container-flex ms-3">
                        <div class="card text-primary bg-light border-primary border-3 mb-3">
                            <div class="card-header bg-dark">
                                <form method="get" id="filter_calendar_form">
                                    <div class="row">
                                        <div class="form-group col-6 bg-dark ">
                                            <select name="month_name"
                                                    onchange="document.getElementById('filter_calendar_form').submit()"
                                                    class="form-select bg-dark text-primary text-center"
                                                    id="exampleSelect2">
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                                <option value="{{ month_nr }}" selected hidden>{{ month_name }}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6">
                                            <input name="year_value" value="{{ year_ }}" min="2020" max="2029"
                                                   id="posNbr"
                                                   onchange="document.getElementById('filter_calendar_form').submit()"
                                                   type="number" class="form-control text-primary text-center"
                                                   placeholder="Month"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card text-primary bg-light border-primary border-3 mb-3">
                            <div class="card-header bg-dark text-center">
                                {% if all_statusuri_angajat|length == 0 %}
                                    <a href="{% url 'details_employee' angajat.id %} ">
                                    {{ angajat.nume_angajat.capitalize }}
                                    {{ angajat.prenume_angajat.capitalize }}</a>
                                            NU ARE INREGISTRARI pe anul {{ year_ }}
                                {% else %}
                                ABSENTE <a href="{% url 'details_employee' angajat.angajat.id %} ">
                                {{ angajat.angajat.nume_angajat.capitalize }}
                                {{ angajat.angajat.prenume_angajat.capitalize }}</a>
                                {{ month_name }} - {{ year_ }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container-flex">
        <div class="container-flex m-3" style="max-width: fit-content">
            <table id="myTable" class="table-primary">
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Total zile absente ↓/ zi din luna →
                    </th>
                    {% for tip_absenta in lista_absente_lunar.1 %}
                        <th class="border border-dark border-3 rounded"
                            style="text-align: center; padding: 5px; background-color: #0dbf92">
                            {{ tip_absenta.date_time_in.astimezone.date }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        {{ lista_absente_lunar.1|length }} zile absent
                    </td>
                    {% for tip_absenta in lista_absente_lunar.1 %}
                        <td class="border border-dark border-3 rounded"
                            style="text-align: center; padding: 5px; background-color: #0dbf92">
                            {{ tip_absenta.status.view_value }}
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-flex">
        <div class="container-flex m-3" style="max-width: fit-content">
            <table id="myTable" class="table-primary">
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded bg-warning" style="text-align: center; padding: 5px">
                        TOTAL ABSENTE {{ year_ }}
                    </th>
                    {% for status_total in dict_anual_absente.items %}
                        <th class="border border-dark border-3 rounded"
                            style="text-align: center; padding: 5px; background-color: #f5dd5d">
                            {{ status_total.0 }}</th>
                    {% endfor %}

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="border border-dark border-3 rounded bg-warning" style="text-align: center; padding: 5px">
                        {{ total_zile_absente_an }} zile
                    </td>
                    {% for status_total in dict_anual_absente.items %}
                        <td class="border border-dark border-3 rounded"
                            style="text-align: center; padding: 5px; background-color: #f5dd5d">
                            {{ status_total.1 }}</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-flex">
        <div class="container-flex m-3" style="max-width: fit-content">
            <table id="myTable" class="table-primary">
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded bg-warning" style="text-align: center; padding: 5px">
                        Lunar
                    </th>
                    <th class="border border-dark border-3 rounded bg-warning" style="text-align: center; padding: 5px">
                        Total absente lunar
                    </th>
                </tr>
                </thead>

                <tbody>
                {% for month in lista_absente_total %}
                    {% if month.1|length > 0 %}
                        <tr>
                            <td class="border border-dark border-3 rounded"
                                style="text-align: center; padding: 5px; background-color: #f5dd5d">
                                {{ month.0 }}/{{ year_ }}
                            </td>
                            <td class="border border-dark border-3 rounded"
                                style="text-align: center; padding: 5px; background-color: #f5dd5d">
                                {{ month.1|length }} zile:
                            </td>
                            {% for type in month.2.items %}
                                <td class="border border-dark border-3 rounded"
                                style="text-align: center; padding: 5px; background-color: #f5dd5d">
                                    {{ type.0 }}:<br/>
                                    {{ type.1 }}</td>
                            {% endfor %}
                        </tr>

                    {% endif %}
                {% empty %}
                    <td class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Nu sunt date inregistrate pentru luna {{ month_name }}</td>
                {% endfor %}

                </tbody>

            </table>
        </div>
    </div>

{% endblock %}

