{% extends 'base.html' %}
{% load static %}
{% block title %}Alte gestiuni{% endblock %}
{% block content %}
{#    {% if request.user.is_staff %}#}
{#        {% if perms.angajati.add_employee %}#}
{#            <div class="col">#}
{#            <a class="btn btn-success m-2" style="color: black; background-color: #c2787b"#}
{#               href="{% url 'upload_angajati' %}" role="button">Upload angajati</a>#}
{#            </div>#}
{#        {% endif %}#}
{#        {% if perms.angajati.add_employee %}#}
{#            <a class="btn btn-success m-2" style="color: black; background-color: #c2787b"#}
{#               href="{% url 'upload_angajati' %}" role="button">Upload angajati</a>#}
{#        {% endif %}#}
{##}
{##}
{#    {% endif %}#}


    <div class="col ms-3">

        {% if request.user.is_staff %}
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-11"
                 style="padding-bottom: 1%">
                {% if perms.angajati.add_status %}
                    <div>
                        <a class="btn btn-success mt-1" style="color: black; background-color: #ffca2c"
                            href="{% url 'create_status' %}" role="button">Creeaza status</a>
                        <a class="btn btn-success mt-1" style="color: black; background-color: #f5dd5d"
                            href="{% url 'status_all' %}" role="button">Toate Statusurile</a>
                    </div>
                    <div>
                        <a class="btn btn-success mt-1" style="color: black; background-color: #0a53be"
                            href="{% url 'create_functie' %}" role="button">Creeaza functie</a>
                        <a class="btn btn-success mt-1" style="color: black; background-color: #0d92bd"
                            href="{% url 'functie_all' %}" role="button">Toate functiile</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-11"
                 style="padding-bottom: 1%">
                {% if perms.angajati.add_company %}
                    {% if not companii %}
                        <a class="btn btn-success mt-1" style="color: black; background-color: #97d2f3"
                           href="{% url 'create_companie' %}" role="button">Creeaza companie</a>
                    {% else %}
                        {% for companie in companii %}
                            <a class="btn btn-success mt-1" style="color: black; background-color: #0fbc7c"
                               href="{% url 'update_companie' companie.id %}" role="button">Modifica companie</a>
                        <a class="btn btn-success mt-1" style="color: black; background-color: #00efb2"
                               href="{% url 'companie_detail' companie.id %}" role="button">Detalii companie</a>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-11"
                 style="padding-bottom: 1%">
                {% if perms.angajati.add_employee %}
                    <div>
                        <a class="btn btn-success mt-1" style="color: black; background-color: #c2787b"
                                  href="{% url 'upload_angajati' %}" role="button">Upload angajati</a>
                        <a class="btn btn-success mt-1" style="color: black; background-color: #9c27b0"
                                  href="{% url 'upload_csv' %}" role="button">Upload pontaj</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <div class="mt-5 ms-3">{% include 'registration/login_out_buttons.html' %}</div>

{% endblock %}