{% extends 'base.html' %}
{% block title %} Comentarii {{ angajat.nume_angajat.capitalize }} {{ angajat.prenume_angajat.capitalize }} {% endblock %}
{% block content %}
    <div class="container-flex m-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
        <h3 class="border-success">Toate comentariile:
        <a class="btn btn-info" href="{% url 'details_employee' angajat.id %}" role="button">
             {{ angajat.nume_angajat.capitalize }} {{ angajat.prenume_angajat.capitalize }}</a>
        </h3>
    </div>
    <div class="container-flex m-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
        <a class="btn btn-success btn-sm" href="{% url 'create_comment' angajat.id %}" role="button">
            Creeaza comentariu</a>
    </div>
    <div class="container-flex">
        <div class="container-flex m-3" style="max-width: fit-content">
            <table id="myTable" class="table-primary">
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Autor</div>
                        <div class="d-flex">
                            <span>
                                <input name="Autor" style="width: 140px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Autor"
                                       onkeyup="myFunction(0, id)"
                                       placeholder="Search...">
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-danger "
                                        onclick=sortTable(0)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Comment</div>
                        <div class="d-flex">
                            <span>
                                <input name="Comment" style="width: 140px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Comment"
                                       onkeyup="myFunction(1, id)"
                                       placeholder="Search...">
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-danger "
                                        onclick=sortTable(1)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>

                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Data comment</div>
                        <div class="d-flex">
                            <span>
                                <input name="Data comment" style="width: 140px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Data comment"
                                       onkeyup="myFunction(2, id)"
                                       placeholder="Search...">
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-danger "
                                        onclick=sortTable(2)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>

                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">Buton modifica</th>
                </tr>
                </thead>
                <tbody>
                    {% for comment in all_comments_angajat %}
                        <tr>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3; padding: 10px">
                                {{ comment.nume_autor }}
                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3; padding: 10px">
                                {{ comment.continut }}
                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                {{ comment.data_introducere.year }}/

                                {% if comment.data_introducere.month < 10 %}
                                    0{{ comment.data_introducere.month }}/
                                {% else %}
                                    {{ comment.data_introducere.month }}/
                                {% endif %}

                                {% if comment.data_introducere.day < 10 %}
                                    0{{ comment.data_introducere.day }}
                                {% else %}
                                    {{ comment.data_introducere.day }}
                                {% endif %}

                            </td>

                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                <a class="btn btn-primary m-2 btn-sm" style="color: black" href="{% url 'comment_update' comment.id %}"
                               role="button">
                                    Update comment
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}