{% extends 'base.html' %}
{% block title %}Modifica comment {{ comment.angajat.nume_angajat.capitalize }}
{% endblock %}
{% block content %}
    <div class="row flex justify-content-start ms-1" style="width: 99%">
        <h3>Modifica comment pentru {{ comment.angajat.nume_angajat.capitalize }}
    {{ comment.angajat.prenume_angajat.capitalize }}</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-success btn-lg m-3">Modifica comentariu</button>
        </form>

    </div>
    <a class="btn btn-success mt-1" style="color: black; background-color: #0fbc7c" href="{% url 'details_employee' comment.angajat.id %}"
       role="button">Inapoi la angajat</a>

{% endblock %}