{% extends 'base.html' %}
{% block title %}Modifica companie {{ company.nume }}{% endblock %}
{% block content %}
    <div class="row flex justify-content-start ms-1" style="width: 99%">
        <h3>Modifica companie {{ company.nume }}</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-success btn-lg m-3">Modifica companie</button>
        </form>

    </div>
    <a class="btn btn-danger mt-1" style="position: marker;color: black;"
       href="{% url 'delete_companie' company.id %}" role="button">Sterge compania</a>
    <a class="btn btn-success mt-1" style="color: black; background-color: #0fbc7c" href="{% url 'home' %}"
       role="button">Inapoi la pagina principala</a>

{% endblock %}