{% extends 'base.html' %}
{% block title %}Detalii Companie {{ companie.nume }}{% endblock %}
{% block content %}
    <h4><b>{{ companie }}</b></h4>
    <div class="row m-3">
        <div><b>NUME: </b>{{ companie.nume }}</div>
        <div><b>CUI: </b>{{ companie.cui }}</div>
        <div><b>CIF: </b>{{ companie.cif }}</div>
        <div><b>ADRESA: </b>{{ companie.adresa }}</div>
        <div><b>EMAIL: </b>{{ companie.email }}</div>
        <div><b>WEBSITE: </b>{{ companie.website }}</div>
        <div><b>TELEFON: </b>{{ companie.telefon }}</div>
        <div><b>CONT BANCAR RON:</b>{{ companie.cont_bancar_ron }}</div>
        <div><b>CONT BANCAR EURO:</b>{{ companie.cont_bancar_eur }}</div>
        <div><b>DATA INFIINTARII: </b>{{ companie.data_infiintarii }}</div>
        <div><b>COD CAEN: </b>{{ companie.cod_caen }}</div>
    </div>
    <div class="col m-3">
    <a class="btn btn-danger mt-1" style="position: marker;color: black;"
       href="{% url 'delete_companie' companie.id %}" role="button">Sterge compania</a>
    <a class="btn btn-warning mt-1" style="color: black;"
       href="{% url 'update_companie' companie.id %}" role="button">Modifica companie</a>
    </div>
    <div class="col ms-3 mt-5">
    <a class="btn btn-success mt-1" style="position: marker;color: black; background-color: #0fbc7c"
       href="{% url 'home' %}" role="button"><i>Inapoi la ecranul principal</i></a>

    </div>
{% endblock %}