{% extends 'base.html' %}
{% block title %}Sterge Companie {{ object }}{% endblock %}
{% block content %}
    <p>Esti sigura ca vrei sa stergi compania: {{ companie }}</p>
    <form method="post">
        {#    cross-site referecing attac protection#}
        {% csrf_token %}
        {#        orice formular are metode. as_p genereaza paragrafe cu fiecare field #}
        {#        mai exista as_ul, as_ol, etc #}
        <button type="submit" class="btn-danger btn-lg m-5">Sterge compania</button>
    </form>

    <a class="btn btn-primary m-5" style="color: black" href="{% url 'update_companie' company.id %}"
               role="button">Inapoi la modifica companie</a>
    <a class="btn btn-success mt-1" style="color: black; background-color: #0fbc7c" href="{% url 'home' %}"
       role="button">Inapoi la pagina principala</a>
{% endblock %}