{% extends 'base.html' %}
{% load static %}

{% block title %} Toate contractele {% endblock %}
{% block content %}
    <div class="container-flex m-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
        <a class="btn btn-success btn-sm" href="{% url 'create_functie' %}" role="button">Creeaza functie noua</a>
    </div>

    <div class="row m-3">
        <div class="row" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
            <table id="#" class="table-primary">
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded"
                        style="text-align: center; padding: 5px; background-color: #ffca2c">
                        {{ last_contract_details|length }} Total
                    </th>
                </tr>
                <tr>
                    {% for functie in dict_totaluri_functii.items %}
                        {% if functie.0 == "[LIPSA CONTRACT]" %}
                            <th class="border border-dark border-3 rounded"
                                style="text-align: center; padding: 5px; background-color: red">
                                {{ functie.0 }}
                            </th>
                        {% else %}
                            <th class="border border-dark border-3 rounded"
                                style="text-align: center; padding: 5px; background-color: yellowgreen">
                                {{ functie.0 }}
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for functie in dict_totaluri_functii.items %}
                        {% if functie.0 == "[LIPSA CONTRACT]" %}
                            <td class="border border-dark border-3 rounded bg-danger"
                                style="text-align: center; padding: 5px">
                                {{ functie.1 }}
                            </td>
                            {% else %}
                            <td class="border border-dark border-3 rounded bg-primary"
                                style="text-align: center; padding: 5px">
                                {{ functie.1 }}
                            </td>
                        {% endif%}
                    {% endfor %}
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="container-flex">
        <div class="container-flex ms-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
            <table id="myTable" class="table-primary">
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Functie</div>
                        <div class="d-flex">
                            <span>
                                <input name="Functie<" style="width: 140px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Functie"
                                       onkeyup="myFunction(0, id)"
                                       placeholder="Search...">
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-danger "
                                        onclick=sortTable(0)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Nume angajat</div>
                        <div class="d-flex">
                            <span>
                                <input name="Nume angajat" style="width: 140px; text-align: center" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Nume angajat"
                                       onkeyup="myFunction(1, id)"
                                       placeholder="Search...">
                            </span>
{#                            <span>#}
{#                                <button type="button" class="btn btn-outline-danger "#}
{#                                        onclick=sortTableHrefs(0)><i#}
{#                                        class="bi bi-sort-alpha-down"></i>#}
{#                                </button>#}
{#                            </span>#}
                        </div>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Prenume angajat
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Salar brut</div>
                        <div class="d-flex">
                            <span>
                                <input name="Salar brut" style="width: 140px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Salar brut"
                                       onkeyup="myFunction(3, id)"
                                       placeholder="Search...">
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-danger "
                                        onclick=sortTable(3)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>

                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Data angajarii</div>
                        <div class="d-flex">
                            <span>
                                <input name="Data angajarii" style="width: 90px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Data angajarii"
                                       onkeyup="myFunction(4, id)"
                                       placeholder="Search...">
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-danger "
                                        onclick=sortTable(4)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Naveta</div>
                        <div class="d-flex">
                            <span>
                                <input name="Naveta" style="width: 70px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Naveta"
                                       onkeyup="myFunction(5, id)"
                                       placeholder="Search...">
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-danger "
                                        onclick=sortTable(5)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Data incetarii
                    </th>

                </tr>
                </thead>
                <tbody>
                {% for contract in last_contract_details %}

                    <tr>
                        {% if contract.1 == None %}
                            <td class="border border-dark border-3 rounded "
                                style="text-align: center; background-color: #97d2f3">
                                <a class="btn btn-success btn-sm"
                                   href="{% url 'create_contract_angajat' contract.0.id %}" role="button">
                                    Creeaza contract</a>
                            </td>
                        {% else %}
                            <td class="border border-dark border-3 rounded "
                                style="text-align: center; background-color: #97d2f3">
                                {{ contract.1.functie }}
                            </td>
                        {% endif %}

                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            <a href="{% url 'details_employee' contract.0.id %}">
                                {{ contract.0.nume_angajat.capitalize }}</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            {{ contract.0.prenume_angajat.capitalize }}
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            {{ contract.1.salar_brut }}
                        </td>

                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            {{ contract.1.data_inceperii.year }}/

                            {% if contract.1.data_inceperii.month < 10 %}
                                0{{ contract.1.data_inceperii.month }}/
                            {% else %}
                                {{ contract.1.data_inceperii.month }}/
                            {% endif %}

                            {% if contract.1.data_inceperii.day < 10 %}
                                0{{ contract.1.data_inceperii.day }}
                            {% else %}
                                {{ contract.1.data_inceperii.day }}
                            {% endif %}
                        </td>

                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            {{ contract.1.naveta }}
                        </td>

                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            {{ contract.1.data_incetarii.year }}/

                            {% if contract.1.data_incetarii.month < 10 %}
                                0{{ contract.1.data_incetarii.month }}/
                            {% else %}
                                {{ contract.1.data_incetarii.month }}/
                            {% endif %}

                            {% if contract.1.data_incetarii.day < 10 %}
                                0{{ contract.1.data_incetarii.day }}
                            {% else %}
                                {{ contract.1.data_incetarii.day }}
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}