{% extends 'base.html' %}
{% block title %} Contracte {{ angajat.nume_angajat.capitalize }} {{ angajat.prenume_angajat.capitalize }} {% endblock %}
{% block content %}
    <div class="container-flex m-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
        <h3 class="border-success">Toate contractele:
        <a class="btn btn-info" href="{% url 'details_employee' angajat.id %}" role="button">
             {{ angajat.nume_angajat.capitalize }} {{ angajat.prenume_angajat.capitalize }}</a>
        </h3>
    </div>
    <div class="container-flex m-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
        <a class="btn btn-success btn-sm" href="{% url 'create_contract_angajat' angajat.id %}" role="button">
            Creeaza contract nou</a>
    </div>
    <div class="container-flex">
        <div class="container-flex m-3" style="max-width: fit-content">
            <table id="myTable" class="table-primary">
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Functie</div>
                        <div class="d-flex">
                            <span>
                                <input name="Functie" style="width: 140px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Functie"
                                       onkeyup="myFunction(0, id)"
                                       placeholder="Search...">
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-danger "
                                        onclick=sortTable(0)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Salar brut</div>
                        <div class="d-flex">
                            <span>
                                <input name="Salar brut" style="width: 140px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Salar brut"
                                       onkeyup="myFunction(1, id)"
                                       placeholder="Search...">
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-danger "
                                        onclick=sortTable(1)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>

                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Inceput</div>
                        <div class="d-flex">
                            <span>
                                <input name="Inceput" style="width: 140px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Inceput"
                                       onkeyup="myFunction(2, id)"
                                       placeholder="Search...">
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-danger "
                                        onclick=sortTable(2)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Incheiat</div>
                        <div class="d-flex">
                            <span>
                                <input name="Incheiat" style="width: 140px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Incheiat"
                                       onkeyup="myFunction(3, id)"
                                       placeholder="Search...">
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-danger "
                                        onclick=sortTable(3)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">Naveta</th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">Buton modifica</th>
                </tr>
                </thead>
                <tbody>
                    {% for contract in contracts %}
                        <tr>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3; padding: 10px">
                                {{ contract.functie }}
                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3; padding: 10px">
                                {{ contract.salar_brut }}
                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                {{ contract.data_inceperii.year }}/

                                {% if contract.data_inceperii.month < 10 %}
                                    0{{ contract.data_inceperii.month }}/
                                {% else %}
                                    {{ contract.data_inceperii.month }}/
                                {% endif %}

                                {% if contract.data_inceperii.day < 10 %}
                                    0{{ contract.data_inceperii.day }}
                                {% else %}
                                    {{ contract.data_inceperii.day }}
                                {% endif %}

                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                {{ contract.data_incetarii.year }}/

                                {% if contract.data_incetarii.month < 10 %}
                                    0{{ contract.data_incetarii.month }}/
                                {% else %}
                                    {{ contract.data_incetarii.month }}/
                                {% endif %}

                                {% if contract.data_incetarii.day < 10 %}
                                    0{{ contract.data_incetarii.day }}
                                {% else %}
                                    {{ contract.data_incetarii.day }}
                                {% endif %}
                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                {{ contract.naveta }}
                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                <a class="btn btn-primary m-2 btn-sm" style="color: black" href="{% url 'update_contract' contract.id %}"
                               role="button">
                                    Update contract
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}