{% extends 'base.html' %}
{% block title %}Creeaza comment {{ employee.nume_angajat.capitalize }}{% endblock %}
{% block content %}
    <h3>Creeaza comment pentru {{ employee.nume_angajat.capitalize }}
        {{ employee.prenume_angajat.capitalize }}<br/>
    </h3>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
    <button type="submit" style="background-color: #0dcaf0">Salveaza comment</button>
    </form>
{% endblock %}