{% extends 'base.html' %}
{% block title %}Creeaza status{% endblock %}
{% block content %}
    <h3>Creeaza un status</h3>
    <form method="post">
        {% csrf_token %}
        {{ status_form.as_p }}
    <button type="submit" value="create" name="_create" style="background-color: #0dcaf0">Salveaza status</button>
    <button type="submit" value="continue" name="_continue" style="background-color: #9a7400">Salveaza si Adauga alt status</button>
    </form>
{% endblock %}