{% extends 'base.html' %}
{% block title %}Contract nou
    {{ employee.nume_angajat }} {{ employee.prenume_angajat }}
{% endblock %}
{% block content %}
    <div class="row flex justify-content-start ms-1" style="width: 99%">

        <h2>Creeaza un contract nou pentru<br/>
            {{ employee.nume_angajat }} {{ employee.prenume_angajat }}
        </h2>
        <form method="post">
            {% csrf_token %}
            {{ contract_form.as_p }}
            <button type="submit" class="btn-primary btn-lg m-3">Creeaza contractul</button>
        </form>
    </div>
{% endblock %}