{% extends 'base.html' %}
{% block title %}Creeaza firma{% endblock %}
{% block content %}
    <h3>Introduceti detaliile firmei dumneavoastra</h3>
    <form method="post">
        {% csrf_token %}
        {{ companie_form.as_p }}
    <button type="submit" value="create" name="_create" style="background-color: #0dcaf0">Salveaza date companie</button>
    </form>
{% endblock %}