{% extends 'base.html' %}
{% block title %}Creeaza functie noua{% endblock %}
{% block content %}
    <h3>Creeaza o functie noua</h3>
    <form method="post">
        {% csrf_token %}
        {{ functie_form.as_p }}
    <button type="submit" value="create" name="_create" style="background-color: #0dcaf0">Salveaza functie</button>
    <button type="submit" value="continue" name="_continue" style="background-color: #9a7400">Salveaza si Adauga alta functie</button>
    </form>
{% endblock %}