{% extends 'base.html' %}
{% block title %}Sterge angajat{% endblock %}
{% block content %}
<script>
    function disable_delete_button(){
        let button = document.getElementById('delete_button');
        button.disabled = true;
        button.style.visibility = "hidden"

    }
</script>
    <div class="row flex justify-content-start ms-1" style="width: 99%">
        <div class="col-6 m-1 border border-danger border-5 rounded">
            <h2 style="text-align: center">!!! Esti sigur ca doresti sa stergi angjatul:<br>
                <p style="text-align: center">{{ employee.nume_angajat.capitalize }} {{ employee.prenume_angajat.capitalize }}?
                    !!!</p></h2>
        </div>
        <div class="col-5  m-auto border border-danger border-5 rounded">
            <form method="post" >
                {% csrf_token %}
                <button onsubmit="disable_delete_button()" id="delete_button" type="submit" class="btn-danger btn-lg m-5">Lichideaza angajat</button>
            </form>
        </div>
    </div>
    <div class="row flex justify-content-start ms-1" style="width: 99%">
        <div class="col-2 ml-2">
            <a class="btn btn-warning m-5" style="color: black" href="{% url 'update_angajat' employee.id %}"
               role="button">Update Angajat</a>
        </div>
        <br>
        <div class="col-2 ml-2">
            <a class="btn btn-primary m-5" style="color: black" href="{% url 'details_employee' employee.id %}"
               role="button">Inapoi la angajat</a>
        </div>
{#        <p style="margin-top: 20px; margin-left: 20px">{% include 'registration/login_out_buttons.html' %}</p>#}
    </div>
    <div class="row flex justify-content-start ms-2" style="width: 99%">
        <p>{% include 'registration/login_out_buttons.html' %}</p>
    </div>
{% endblock %}