{% extends 'base.html' %}
{% block title %} {{ angajat.nume_angajat }} {% endblock %}
{% block content %}
    <div class="container-flex">
        <div class="container-flex m-3" style="max-width: fit-content">
            <table id="myTable" class="table-primary">
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded" style="text-align: center; padding: 5px">
                        {{ angajat }}
                    </th>
                    <th class="border border-dark border-3 rounded" style="text-align: center; padding: 5px">
                        {{ last_detail.functie }}
                    </th>
                    <th class="border border-dark border-3 rounded" style="text-align: center; padding: 5px">
                        {{ last_detail.salar_brut }} brut
                    </th>
                    <th class="border border-dark border-3 rounded" style="text-align: center; padding: 5px">
                        {{ last_status.status.view_value }}
                    </th>
                </thead>
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Informatie
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Detaliu
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Buton
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Buton
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Buton
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        Nume
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        {{ angajat.nume_angajat.capitalize }} {{ angajat.prenume_angajat.capitalize }}</td>
                    {% if last_status.status.view_value != 'LICHIDAT'%}
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #c2787b">
                            <a class="btn btn-info btn-sm" href="{% url 'update_angajat' angajat.id %}" role="button">
                                Modifica detalii<br/>angajat
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #c2787b">
                            <a class="btn btn-danger m-2 btn-sm" style="color: black"
                               href="{% url 'delete_angajat' angajat.id %}" role="button">
                                Lichideaza <br/>Angajat
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #c2787b">🙂
                        </td>
                    {% else %}
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #c2787b">
                            <a class="btn btn-warning m-2 btn-sm" style="color: black"
                           href="{% url 'status_angajat_update' last_status.id %}" role="button">
                            Re-activeaza <br/>angajat</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #c2787b">🙂
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #c2787b">🙂
                        </td>
{##}
{#                        <a class="btn btn-warning m-2 btn-sm" style="color: black"#}
{#                           href="{% url 'status_angajat_update' last_status.id %}" role="button">#}
{#                            Update <br/>last status#}
{#                        </a>#}
                    {% endif %}
                </tr>

                <tr>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        Id pontaj
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        {{ angajat.id_pontaj }}</td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">🙂
                    </td>
                </tr>
                {% if last_detail != None %}
                    <tr>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">
                            Functie
                        </td>

                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">
                            {{ last_detail.functie }}</td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">
                            <a class="btn btn-success m-2 btn-sm" style="color: black"
                               href="{% url 'create_contract_angajat' angajat.id %}"
                               role="button">New contract</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">
                            <a class="btn btn-primary m-2 btn-sm" style="color: black"
                               href="{% url 'update_contract' last_detail.id %}"
                               role="button">Update contract</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">
                            <a class="btn m-2 btn-primary btn-sm" style="color: black; background-color: #e1bee7"
                               href="{% url 'contracts_all' angajat.id %}"
                               role="button">All contracts</a>
                        </td>
                    </tr>

                    <tr>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">
                            Salar Brut
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">
                            {{ last_detail.salar_brut }}</td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">🙂
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">🙂
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">🙂
                        </td>
                    </tr>

                    <tr>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">
                            Data inceperii
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">
                            {{ last_detail.data_inceperii }}</td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">🙂
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">🙂
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">🙂
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">Lipsa contract
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">
                            <a class="btn btn-success m-2 btn-sm" style="color: black"
                               href="{% url 'create_contract_angajat' angajat.id %}"
                               role="button">New contract</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">🙂
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">🙂
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #0fbc7c">🙂
                        </td>
                    </tr>
                {% endif %}

                <tr>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #0fbc7c">
                        Naveta
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #0fbc7c">
                        {{ last_detail.naveta }}</td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #0fbc7c">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #0fbc7c">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #0fbc7c">
                        🙂
                    </td>
                </tr>

                <tr>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        Data angajare
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        {{ angajat.data_angajare }}</td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                </tr>


                {% if last_status.status.view_value != 'LICHIDAT'%}
                    <tr>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            Status actual
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            {{ last_status.status.view_value }}</td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            <a class="btn btn-warning m-2 btn-sm" style="color: black"
                               href="{% url 'status_angajat_update' last_status.id %}" role="button">
                                Update <br/>last status
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            <a class="btn btn-danger m-2 btn-sm" style="color: black"
                               href="{% url 'delete_angajat' angajat.id %}" role="button">
                                Lichideaza <br/>Angajat
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            🙂
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="border border-dark border-3 rounded "
                                style="text-align: center; background-color: #97d2f3">
                                Status actual</td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            {{ last_status.status.view_value }}</td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            <a class="btn btn-warning m-2 btn-sm" style="color: black"
                               href="{% url 'status_angajat_update' last_status.id %}" role="button">
                                Reactiveaza <br/>angajat</a></td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            🙂
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            🙂
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #97d2f3">
                        Ultima iesire pontaj
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #97d2f3">
                        {{ last_status.date_time_out }}</td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #97d2f3">
                        <a class="btn btn-danger m-2 btn-sm" style="color: black; background-color: #e1bee7"
                           href="{% url 'pontaj_lunar_angajat' angajat.id %}" role="button">
                            Tot pontajul
                        </a>
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #97d2f3">
                       <a class="btn btn-danger m-2 btn-sm" style="color: black; background-color: #e1bee7"
                           href="{% url 'absente_angajat' angajat.id %}" role="button">
                            Absente
                        </a>
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #97d2f3">
                        🙂
                    </td>
                </tr>

                <tr>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #919ba5">
                        Comentarii
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #919ba5">
                        <b>{{ comentarii|length }}</b> total<br/>
                        <b>ultimul:</b>{{ comentarii.last.continut|truncatechars:8 }}... <br/>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #919ba5">
                    <a class="btn btn-info btn-sm" style="background-color: #0d92bd" href="{% url 'comments_angajat' angajat.id %}" role="button">
                            Toate commentariile
                        </a>
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #919ba5">
                        <a class="btn btn-info btn-sm" style="background-color: #00efb2" href="{% url 'create_comment' angajat.id %}" role="button">
                            Comment nou
                        </a>
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #919ba5">
                        🙂
                    </td>
                </tr>

                <tr>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        CNP
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        {{ angajat.cnp }}</td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                </tr>

                    {% if last_status.status.view_value != 'LICHIDAT'%}
                        <tr>
                            <td class="border border-dark border-3 rounded "
                                style="text-align: center; background-color: #c2787b">
                                Telefon
                            </td>
                            <td class="border border-dark border-3 rounded "
                                style="text-align: center; background-color: #c2787b">
                                {{ angajat.telefon }}</td>
                            <td class="border border-dark border-3 rounded "
                                style="text-align: center; background-color: #c2787b">
                                <a class="btn btn-info btn-sm" href="{% url 'update_angajat' angajat.id %}" role="button">
                                    Modifica detalii<br/>angajat
                                </a>
                            </td>
                            <td class="border border-dark border-3 rounded "
                                style="text-align: center; background-color: #c2787b">
                                <a class="btn btn-danger m-2 btn-sm" style="color: black"
                                   href="{% url 'delete_angajat' angajat.id %}" role="button">
                                    Lichideaza <br/>Angajat</a></td>
                            <td class="border border-dark border-3 rounded "
                                style="text-align: center; background-color: #c2787b">🙂</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="border border-dark border-3 rounded "
                                style="text-align: center; background-color: #c2787b">
                                Telefon
                            </td>
                            <td class="border border-dark border-3 rounded "
                                style="text-align: center; background-color: #c2787b">
                                {{ angajat.telefon }}</td>
                            <td class="border border-dark border-3 rounded "
                                style="text-align: center; background-color: #c2787b">
                                <a class="btn btn-warning m-2 btn-sm" style="color: black"
                               href="{% url 'status_angajat_update' last_status.id %}" role="button">
                                Reactiveaza <br/>angajat</a></td>
                            <td class="border border-dark border-3 rounded "
                                style="text-align: center; background-color: #c2787b">🙂</td>
                            <td class="border border-dark border-3 rounded "
                                style="text-align: center; background-color: #c2787b">🙂</td>
                        </tr>
                    {% endif %}


                <tr>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        Email
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        {{ angajat.email }}</td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                </tr>

                <tr>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        Data nasterii
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        {{ angajat.data_nasterii }}</td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                </tr>

                <tr>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        Religie
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        {{ angajat.religie }}</td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                </tr>

                <tr>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        Data creare
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        {{ angajat.data_introducere.date }}</td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                    <td class="border border-dark border-3 rounded "
                        style="text-align: center; background-color: #c2787b">
                        🙂
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row flex justify-content-start m-1">
        <p>{% include 'registration/login_out_buttons.html' %}</p>
    </div>
{% endblock %}