{% extends 'base.html' %}
{% block title %} Toti angajatii {% endblock %}
{% block content %}
    <div class="row m-3">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-11 border border-dark border-5 rounded"
             style="text-align: center; background-color: #97d2f3">
            <h3>Total angajati activi: {{ total_angajati_activi }}<br/></h3>
            <i>la data {% now "jS F Y H:i" %}</i>
        </div>
    </div>
    <div class="container-flex m-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
        <a style="padding: 10px; margin: 10px" class="btn btn-success btn-sm" href="{% url 'creaza_angajat' %}" role="button">Adauga angajat</a>
        <a style="padding: 10px; margin: 10px" class="btn btn-primary btn-sm" href="{% url 'export_csv_angajati' %}" role="button">Export date angajati</a>
        <a class="btn btn-success mt-1" style="color: black; background-color: #c2787b"
           href="{% url 'upload_angajati' %}" role="button">Incarca angajati</a>
        <a class="btn btn-success mt-1" style="color: black; background-color: #ffca2c"
           href="{% url 'employee_all_view' %}" role="button">Arhiva toti angajatii</a>
    </div>

    <div class="container-flex">
        <div class="container-flex m-3" style="max-width: fit-content">
            <table id="myTable" class="table-primary">
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Buton modifica
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Status actual</div>
                        <div class="d-flex">
                            <span>
                                <input name="Status actual" style="width: 70px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Status actual"
                                       onkeyup="myFunction(1, id)"
                                       placeholder="Search...">
                            </span>
                                <span>
                                <button type="button" class="btn-sm btn-outline-danger "
                                        style="background-color: #e1bee7; color: #0f1a25"
                                        onclick=sortTableHrefs(1)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>
                    {% for head in table_head %}
                        <th class="border border-dark border-3 rounded bg-primary"
                            style="text-align: center; padding: 5px">
                            <div> {{ head }} </div>
                            <div class="d-flex">
                            <span>
                                <input name="{{ head }}" style="width: 80px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="{{ head }}"
                                       onkeyup="myFunction({{ forloop.counter }}+1, id)"
                                       placeholder="Search...">
                            </span>
                                <span>
                                <button type="button" class="btn-sm btn-outline-danger "
                                        style="background-color: #e1bee7; color: #0f1a25"
                                        onclick=sortTableHrefs({{ forloop.counter }}+1)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                            </div>
                        </th>
                    {% empty %}
                        <p>There is no data yet!</p>>
                    {% endfor %}
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Buton modifica
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Buton Detalii
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Buton Sterge
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for employee in angajati_cu_status %}

                    <tr>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            <a class="btn btn-info btn-sm" href="{% url 'update_angajat' employee.0.id %}" role="button">
                                Modifica detalii
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            <a href="{% url 'status_angajat_update' employee.1.id %}" style="color:#0f1a25;">
                                {{ employee.1.status.abbreviated_value }}
                            </a>
                        </td>

                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.nume_angajat }}</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.prenume_angajat }}</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {% if employee.0.id_pontaj < 10 %}
                                00{{ employee.0.id_pontaj }}
                                {% elif employee.0.id_pontaj > 99 %}
                                {{ employee.0.id_pontaj }}
                                {% else %}
                                0{{ employee.0.id_pontaj }}
                                {% endif %}
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.cnp }}</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.telefon }}</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.email }}</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.data_nasterii.year }}/

                                {% if employee.0.data_nasterii.month < 10 %}
                                    0{{ employee.0.data_nasterii.month }}/
                                {% else %}
                                    {{ employee.0.data_nasterii.month }}/
                                {% endif %}

                                {% if employee.0.data_nasterii.day < 10 %}
                                    0{{ employee.0.data_nasterii.day }}
                                {% else %}
                                    {{ employee.0.data_nasterii.day }}
                                {% endif %}
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.religie }}</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.data_angajare.year }}/

                                {% if employee.0.data_angajare.month < 10 %}
                                    0{{ employee.0.data_angajare.month }}/
                                {% else %}
                                    {{ employee.0.data_angajare.month }}/
                                {% endif %}

                                {% if employee.0.data_angajare.day < 10 %}
                                    0{{ employee.0.data_angajare.day }}
                                {% else %}
                                    {{ employee.0.data_angajare.day }}
                                {% endif %}
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.data_introducere.year }}/

                                {% if employee.0.data_introducere.month < 10 %}
                                    0{{ employee.0.data_introducere.month }}/
                                {% else %}
                                    {{ employee.0.data_introducere.month }}/
                                {% endif %}

                                {% if employee.0.data_introducere.day < 10 %}
                                    0{{ employee.0.data_introducere.day }}
                                {% else %}
                                    {{ employee.0.data_introducere.day }}
                                {% endif %}
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            <a class="btn btn-info m-2 btn-sm" href="{% url 'update_angajat' employee.0.id %}"
                               role="button">
                                Modifica detalii
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            <a class="btn btn-primary m-2 btn-sm" href="{% url 'details_employee' employee.0.id %}"
                               role="button">
                                Vezi detalii
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            <a class="btn btn-danger m-2 btn-sm" style="color: black"
                               href="{% url 'delete_angajat' employee.0.id %}" role="button">
                                Lichideaza Angajat
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}