{% extends 'base.html' %}
{% block title %} Toti angajatii {% endblock %}
{% block content %}

    <div class="row m-3">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-11 border border-dark border-5 rounded"
             style="text-align: center; background-color: #97d2f3">
            <h3>Total angajati: {{ all_employees.count }}<br/></h3>
            <i><b>{% now "jS F Y H:i" %}</b></i><br/>
            <i>Cei lichidati au (Lichidat) in fata numelui</i>
        </div>
    </div>
    <div class="container-flex m-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
        <a class="btn btn-success btn-sm" href="{% url 'creaza_angajat' %}" role="button">Adauga angajat</a>
        <a style="padding: 10px; margin: 10px" class="btn btn-primary btn-sm" href="{% url 'export_csv_angajati' %}" role="button">Export</a>
        <a class="btn btn-success mt-1" style="color: black; background-color: #c2787b"
           href="{% url 'upload_angajati' %}" role="button">Incarca angajati</a>
        <a class="btn btn-success mt-1" style="color: black; background-color: #f5dd5d"
           href="{% url 'employees_actives' %}" role="button">Angajati activi</a>
    </div>
    <div class="container-flex">
        <div class="container-flex m-3" style="max-width: fit-content">
            <table id="myTable" class="table-primary">
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Status actual</div>
                        <div class="d-flex">
                            <span>
                                <input name="Status actual" style="width: 70px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Status actual"
                                       onkeyup="myFunction(0, id)"
                                       placeholder="Search...">
                            </span>
                                <span>
                                <button type="button" class="btn-sm btn-outline-danger "
                                        style="background-color: #e1bee7; color: #0f1a25"
                                        onclick=sortTableHrefs(0)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>
                    {% for head in table_head %}
                        <th class="border border-dark border-3 rounded bg-primary"
                            style="text-align: center; padding: 5px">
                            <div> {{ head }} </div>
                            <div class="d-flex">
                            <span>
                                <input name="{{ head }}" style="width: 140px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="{{ head }}"
                                       onkeyup="myFunction({{ forloop.counter }}, id)"
                                       placeholder="Search...">
                            </span>
                                <span>
                                <button type="button" class="btn-sm btn-outline-danger "
                                        style="background-color: #e1bee7; color: #0f1a25"
                                        onclick=sortTableHrefs({{ forloop.counter }})><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                            </div>
                        </th>
                    {% empty %}
                        <p>There is no data yet!</p>>
                    {% endfor %}
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Buton modifica
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Buton Detalii
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Buton Sterge
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for employee in angajati_cu_status %}

                    <tr>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            <a href="{% url 'status_angajat_update' employee.1.id %}" style="color:#0f1a25;">
                                {{ employee.1.status.abbreviated_value }}
                            </a>
                        </td>

                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.nume_angajat }}</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.prenume_angajat }}</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {% if employee.0.id_pontaj < 10 %}
                                00{{ employee.0.id_pontaj }}
                                {% elif employee.0.id_pontaj > 99 %}
                                {{ employee.0.id_pontaj }}
                                {% else %}
                                0{{ employee.0.id_pontaj }}
                                {% endif %}
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.cnp }}</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.telefon }}</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.email }}</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.data_nasterii.year }}/

                                {% if employee.0.data_nasterii.month < 10 %}
                                    0{{ employee.0.data_nasterii.month }}/
                                {% else %}
                                    {{ employee.0.data_nasterii.month }}/
                                {% endif %}

                                {% if employee.0.data_nasterii.day < 10 %}
                                    0{{ employee.0.data_nasterii.day }}
                                {% else %}
                                    {{ employee.0.data_nasterii.day }}
                                {% endif %}
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.religie }}</a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.data_angajare.year }}/

                                {% if employee.0.data_angajare.month < 10 %}
                                    0{{ employee.0.data_angajare.month }}/
                                {% else %}
                                    {{ employee.0.data_angajare.month }}/
                                {% endif %}

                                {% if employee.0.data_angajare.day < 10 %}
                                    0{{ employee.0.data_angajare.day }}
                                {% else %}
                                    {{ employee.0.data_angajare.day }}
                                {% endif %}
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3; padding: 10px">
                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">
                                {{ employee.0.data_introducere.year }}/

                                {% if employee.0.data_introducere.month < 10 %}
                                    0{{ employee.0.data_introducere.month }}/
                                {% else %}
                                    {{ employee.0.data_introducere.month }}/
                                {% endif %}

                                {% if employee.0.data_introducere.day < 10 %}
                                    0{{ employee.0.data_introducere.day }}
                                {% else %}
                                    {{ employee.0.data_introducere.day }}
                                {% endif %}
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            <a class="btn btn-info m-2 btn-sm" href="{% url 'update_angajat' employee.0.id %}"
                               role="button">
                                Modifica detalii
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            <a class="btn btn-primary m-2 btn-sm" href="{% url 'details_employee' employee.0.id %}"
                               role="button">
                                Vezi detalii
                            </a>
                        </td>
                        <td class="border border-dark border-3 rounded "
                            style="text-align: center; background-color: #97d2f3">
                            <a class="btn btn-danger m-2 btn-sm" style="color: black"
                               href="{% url 'delete_angajat' employee.0.id %}" role="button">
                                Lichideaza Angajat
                            </a>
                        </td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{##}
{#{% for employee in all_employees %}#}
{##}
{#                    <tr>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3">#}
{#                            <a class="btn btn-info btn-sm" href="{% url 'update_angajat' employee.id %}" role="button">#}
{#                                Modifica detalii#}
{#                            </a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.nume_angajat }}</a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.prenume_angajat }}</a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.id_pontaj }}</a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.cnp }}</a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.telefon }}</a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.email }}</a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.data_nasterii.year }}/#}
{##}
{#                                {% if employee.data_nasterii.month < 10 %}#}
{#                                    0{{ employee.data_nasterii.month }}/#}
{#                                {% else %}#}
{#                                    {{ employee.data_nasterii.month }}/#}
{#                                {% endif %}#}
{##}
{#                                {% if employee.data_nasterii.day < 10 %}#}
{#                                    0{{ employee.data_nasterii.day }}#}
{#                                {% else %}#}
{#                                    {{ employee.data_nasterii.day }}#}
{#                                {% endif %}#}
{#                            </a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.religie }}</a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.data_angajare.year }}/#}
{##}
{#                                {% if employee.data_angajare.month < 10 %}#}
{#                                    0{{ employee.data_angajare.month }}/#}
{#                                {% else %}#}
{#                                    {{ employee.data_angajare.month }}/#}
{#                                {% endif %}#}
{##}
{#                                {% if employee.data_angajare.day < 10 %}#}
{#                                    0{{ employee.data_angajare.day }}#}
{#                                {% else %}#}
{#                                    {{ employee.data_angajare.day }}#}
{#                                {% endif %}#}
{#                            </a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.data_introducere.year }}/#}
{##}
{#                                {% if employee.data_introducere.month < 10 %}#}
{#                                    0{{ employee.data_introducere.month }}/#}
{#                                {% else %}#}
{#                                    {{ employee.data_introducere.month }}/#}
{#                                {% endif %}#}
{##}
{#                                {% if employee.data_introducere.day < 10 %}#}
{#                                    0{{ employee.data_introducere.day }}#}
{#                                {% else %}#}
{#                                    {{ employee.data_introducere.day }}#}
{#                                {% endif %}#}
{#                            </a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3">#}
{#                            <a class="btn btn-info m-2 btn-sm" href="{% url 'update_angajat' employee.id %}"#}
{#                               role="button">#}
{#                                Modifica detalii#}
{#                            </a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3">#}
{#                            <a class="btn btn-primary m-2 btn-sm" href="{% url 'details_employee' employee.id %}"#}
{#                               role="button">#}
{#                                Vezi detalii#}
{#                            </a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3">#}
{#                            <a class="btn btn-danger m-2 btn-sm" style="color: black"#}
{#                               href="{% url 'delete_angajat' employee.id %}" role="button">#}
{#                                Lichideaza Angajat#}
{#                            </a>#}
{#                        </td>#}
                        {#                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">#}
                        {#                                <a class="btn btn-primary btn-sm" href="{% url 'update_status' status.id %}" role="button">#}
                        {#                                    Modifica Status#}
                        {#                                </a>#}
                        {#                            </td>#}
                        {#                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">#}
                        {#                                <a class="btn btn-secondary btn-sm" href="{% url 'status_detail' status.id %}" role="button">#}
                        {#                                    Detalii Status</a>#}
                        {#                            </td>#}
                        {#                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">#}
                        {#                                <a class="btn btn-danger btn-sm" href="{% url 'delete_status' status.id %}" role="button">#}
                        {#                                    Sterge Status#}
                        {#                                </a>#}
                        {#                            </td>#}
{#                    </tr>#}
{#                {% endfor %}#}

{##}
{#    <div class="row m-3">#}
{#        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-11 border border-dark border-5 rounded"#}
{#             style="text-align: center; background-color: #97d2f3">#}
{#            <h3>Total angajati activi: {{ total_angajati_activi }}<br/></h3>#}
{#            <i>la data {% now "jS F Y H:i" %}</i>#}
{#        </div>#}
{#    </div>#}
{#    <div class="container-flex m-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">#}
{#        <a class="btn btn-success btn-sm" href="{% url 'creaza_angajat' %}" role="button">Adauga angajat</a>#}
{#        <a style="padding: 10px; margin: 10px" class="btn btn-primary btn-sm" href="{% url 'export_csv_angajati' %}" role="button">Export</a>#}
{#        <a class="btn btn-success mt-1" style="color: black; background-color: #c2787b"#}
{#           href="{% url 'upload_angajati' %}" role="button">Incarca/ adauga file angajati</a>#}
{#    </div>#}
{#    <div class="container-flex">#}
{#        <div class="container-flex m-3" style="max-width: fit-content">#}
{#            <table id="myTable" class="table-primary">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">#}
{#                        Buton modifica#}
{#                    </th>#}
{#                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">#}
{#                        status#}
{#                    </th>#}
{#                    {% for head in table_head %}#}
{#                        <th class="border border-dark border-3 rounded bg-primary"#}
{#                            style="text-align: center; padding: 5px">#}
{#                            <div> {{ head }} </div>#}
{#                            <div class="d-flex">#}
{#                            <span>#}
{#                                <input name="{{ head }}" style="width: 140px" class="form-fluid m-2 bg-white"#}
{#                                       type="text"#}
{#                                       id="{{ head }}"#}
{#                                       onkeyup="myFunction({{ forloop.counter }}, id)"#}
{#                                       placeholder="Search...">#}
{#                            </span>#}
{#                                <span>#}
{#                                <button type="button" class="btn-sm btn-outline-danger "#}
{#                                        style="background-color: #e1bee7; color: #0f1a25"#}
{#                                        onclick=sortTableHrefs({{ forloop.counter }})><i#}
{#                                        class="bi bi-sort-alpha-down"></i>#}
{#                                </button>#}
{#                            </span>#}
{#                            </div>#}
{#                        </th>#}
{#                    {% empty %}#}
{#                        <p>There is no data yet!</p>>#}
{#                    {% endfor %}#}
{#                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">#}
{#                        Buton modifica#}
{#                    </th>#}
{#                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">#}
{#                        Buton Detalii#}
{#                    </th>#}
{#                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">#}
{#                        Buton Sterge#}
{#                    </th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for employee in angajati_cu_status %}#}
{##}
{#                    <tr>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3">#}
{#                            <a class="btn btn-info btn-sm" href="{% url 'update_angajat' employee.0.id %}" role="button">#}
{#                                Modifica detalii#}
{#                            </a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3">#}
{#                            <a class="btn btn-info btn-sm" href="{% url 'update_angajat' employee.0.id %}" role="button">#}
{#                                {{ employee.1.status.abbreviated_value }}#}
{#                            </a>#}
{#                        </td>#}
{##}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.0.nume_angajat }}</a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.0.prenume_angajat }}</a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.0.id_pontaj }}</a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.0.cnp }}</a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.0.telefon }}</a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.0.email }}</a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.0.data_nasterii.year }}/#}
{##}
{#                                {% if employee.0.data_nasterii.month < 10 %}#}
{#                                    0{{ employee.0.data_nasterii.month }}/#}
{#                                {% else %}#}
{#                                    {{ employee.0.data_nasterii.month }}/#}
{#                                {% endif %}#}
{##}
{#                                {% if employee.0.data_nasterii.day < 10 %}#}
{#                                    0{{ employee.0.data_nasterii.day }}#}
{#                                {% else %}#}
{#                                    {{ employee.0.data_nasterii.day }}#}
{#                                {% endif %}#}
{#                            </a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.0.religie }}</a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.0.data_angajare.year }}/#}
{##}
{#                                {% if employee.0.data_angajare.month < 10 %}#}
{#                                    0{{ employee.0.data_angajare.month }}/#}
{#                                {% else %}#}
{#                                    {{ employee.0.data_angajare.month }}/#}
{#                                {% endif %}#}
{##}
{#                                {% if employee.0.data_angajare.day < 10 %}#}
{#                                    0{{ employee.0.data_angajare.day }}#}
{#                                {% else %}#}
{#                                    {{ employee.0.data_angajare.day }}#}
{#                                {% endif %}#}
{#                            </a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3; padding: 10px">#}
{#                            <a href="{% url 'details_employee' employee.0.id %}" style="color:#0f1a25;">#}
{#                                {{ employee.0.data_introducere.year }}/#}
{##}
{#                                {% if employee.0.data_introducere.month < 10 %}#}
{#                                    0{{ employee.0.data_introducere.month }}/#}
{#                                {% else %}#}
{#                                    {{ employee.0.data_introducere.month }}/#}
{#                                {% endif %}#}
{##}
{#                                {% if employee.0.data_introducere.day < 10 %}#}
{#                                    0{{ employee.0.data_introducere.day }}#}
{#                                {% else %}#}
{#                                    {{ employee.0.data_introducere.day }}#}
{#                                {% endif %}#}
{#                            </a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3">#}
{#                            <a class="btn btn-info m-2 btn-sm" href="{% url 'update_angajat' employee.0.id %}"#}
{#                               role="button">#}
{#                                Modifica detalii#}
{#                            </a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3">#}
{#                            <a class="btn btn-primary m-2 btn-sm" href="{% url 'details_employee' employee.0.id %}"#}
{#                               role="button">#}
{#                                Vezi detalii#}
{#                            </a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded "#}
{#                            style="text-align: center; background-color: #97d2f3">#}
{#                            <a class="btn btn-danger m-2 btn-sm" style="color: black"#}
{#                               href="{% url 'delete_angajat' employee.0.id %}" role="button">#}
{#                                Lichideaza Angajat#}
{#                            </a>#}
{#                        </td>#}
{##}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div>#}
{#        <div>total: {{ total_angajati_activi }}</div>#}
{#        {% for angajat_ in angajati_cu_status %}#}
{#            <div>___nume:{{ angajat_.0.nume_angajat }}, pre: {{ angajat_.0.prenume_angajat }}, pontaj: {{ angajat_.0.id_pontaj }};<br/>#}
{#            status: {{ angajat_.1.status.view_value }}#}
{#            </div>#}

{#                <p>detalii: {{ detalii }}</p>#}
{#                <p>detalii 0: {{ detalii.0 }}</p>#}
{#                <p>detalii 1: {{ detalii.1 }}</p>#}
{#                #}
{#            {% for detalii_angajat, detalii_status in angajat_.items %}#}
{##}
{#                <div> 0:{{ detalii_angajat }}, </div>#}
{#                <div>1:{{ detalii_status}};</div>#}
{#                <div> nume:{{ detalii_angajat }}, prenume:{{ detalii_angajat.prenume_angajat }},#}
{#                pontaj {{ detalii_angajat.id_pontaj }}</div>#}

{#            <p>{{ detalii_angajat }}</p>#}
{#            <p>{{ status }}</p>#}
{#            <p>nume {{ detalii_angajat.nume_angajat }}; prenume {{ detalii_angajat.prenume_angajat }}; pontaj {{ detalii_angajat.id_pontaj }}</p>#}
{#            <p>status {{ status.view_value }}</p>#}
{##}
{#        {% endfor %}#}
{##}
{#    </div>#}



    {##}
    {#    <div>#}
    {#    {% for employee in all_employees %}#}
    {#        <div><a href="{% url 'details_employee' employee.id %}">{{ employee }}</a>#}
    {#            <a class="btn btn-primary m-2" style="color: black"#}
    {#               href="{% url 'details_employee' employee.id %}" role="button">#}
    {#                Detalii angajat</a>#}
    {#            <a class="btn btn-info m-2" style="color: black"#}
    {#               href="{% url 'update_angajat' employee.id %}" role="button">#}
    {#                Update angajat</a>#}
    {#            <a class="btn btn-secondary m-2" style="color: black"#}
    {#               href="{% url 'update_contract' employee.id %}" role="button">#}
    {#                Update contract</a>#}
    {#            <a class="btn btn-secondary m-2" style="color: black"#}
    {#               role="button">#}
    {#                Update status</a>#}
    {#            <a class="btn btn-danger m-2" style="color: black"#}
    {#               href="{% url 'delete_angajat' employee.id %}" role="button">#}
    {#                Dezactiveaza Angajat<br>+User</a>#}
    {##}
    {#        </div>#}
    {#    {% endfor %}#}
    {#    </div>#}
{#{% endblock %}#}