{% extends 'base.html' %}
{% block title %}Detalii Functie {{ functie.view_value }}{% endblock %}
{% block content %}
    <h3>View value: {{ functie.view_value }}</h3>
    <a class="btn btn-success mt-1" style="color: black; background-color: #0fbc7c" href="{% url 'functie_all' %}" role="button">Inapoi la toate functiile</a>

{% endblock %}