{% extends 'base.html' %}
{% load static %}

{% block title %} Toate functiile {% endblock %}
{% block content %}
    <div class="container-flex m-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
        <a class="btn btn-success btn-sm" href="{% url 'create_functie' %}" role="button">Creeaza functie noua</a>
    </div>
    <div class="container-flex">
        <div class="container-flex ms-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
            <table id="myTable" class="table-primary">
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Denumire functie</div>
                        <div class="d-flex">
                            <span>
                                <input name="Denumire functie" style="width: 140px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Denumire functie"
                                       onkeyup="myFunction(0, id)"
                                       placeholder="Search...">
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-danger "
                                        onclick=sortTable(0)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">Buton modifica</th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">Buton Detalii</th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">Buton Sterge</th>
                </tr>
                </thead>
                <tbody>
                    {% for functie in functii %}
                        <tr>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                {{ functie }}
                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                <a class="btn btn-primary btn-sm" href="{% url 'update_functie' functie.id %}" role="button">Modifica</a>
                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                <a class="btn btn-secondary btn-sm" href="{% url 'functie_detail' functie.id %}" role="button">Detalii
                                Functie</a>
                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                <a class="btn btn-danger btn-sm" href="{% url 'delete_functie' functie.id %}" role="button">Sterge
                                Functie</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}