{% extends 'base.html' %}
{% load static %}
{#{% block head %}#}
{#    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>#}
{#{% endblock %}#}
{% block title %}AngaGest{% endblock %}
{#{% block title %}<img src="{% static '/LOGO.jpg' %}" alt="AngaGest"> AngaGest {% endblock %}#}
{#{% block title %}<link rel="shortcut icon" type="image/jpg" href="/LOGO.jpg" > AngaGest {% endblock %}#}
{% block head %}

{% endblock %}
{% block content %}
    <div class="row m-1">
        <div id="date_companie" class="col-xl-4 col-lg-5 col-md-6 col-sm-11 border border-primary border-5 rounded"
             style="padding-bottom: 1%">
            <h3>Date Companie</h3>
            {% for companie in companii %}
                <p>
                    {#                <a href="{% url 'home' %}">#}
                    {% if request.user.is_staff %}
                        <b><a href="{% url 'companie_detail' companie.id %}">{{ companie.nume }}</a></b><br/>
                    {% else %}
                        <b>{{ companie.nume }}</b><br/>
                    {% endif %}
                    <b>ADRESA:</b> {{ companie.adresa }}<br/>
                    <b>CUI:</b> {{ companie.cui }}<br/>
                    <b>CIF:</b> {{ companie.cif }}<br/>
                    <b>TEL:</b> {{ companie.telefon }}<br/>
                    <b>EMAIL:</b> {{ companie.email }}<br/>
                    <b>Website:</b> <a href="{{ companie.website }}" target="_blank">{{ companie.website }}</a><br/>
                    <b>DATA INFIINTARII:</b> {{ companie.data_infiintarii }}<br/>
                    <b>COD CAEN:</b> {{ companie.cod_caen }}<br/>
                    {% if companie.cont_bancar_ron is None %}
                        <b>CONT RON:</b>//<br/>
                    {% else %}
                        <b>CONT RON:</b> {{ companie.cont_bancar_eur }}<br/>
                    {% endif %}
                    {% if companie.cont_bancar_ron is None %}
                        <b>CONT EURO:</b>//<br/>
                    {% else %}
                        <b>CONT EURO:</b> {{ companie.cont_bancar_ron }}<br/>
                    {% endif %}

                </p>
            {% endfor %}
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-11 border border-primary border-5 rounded"
             style="padding-bottom: 1%">
            <h3>Detalii Companie</h3>
            {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                    <div class="container-flex ms-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
                        <p><b>{{ total_angajati_activi }} angajati </b> la {% now "jS F Y H:i" %} </p>
                        <h4>Detalii proprii:</h4>
                        <p><b>Nume:</b>{{ angajat.nume_angajat.capitalize }} {{ angajat.prenume_angajat.capitalize }}</p>
                        <p><b>Functie:</b> {{ contract_details.functie }}</p>
                        <p><b>Data inceput functie:</b> {{ contract_details.data_inceperii }};</p>
                        <p><b>Nr. cartela: </b>{{ angajat.id_pontaj }}</p>
                        <p><b>User:</b> {{ user }}</p>
                    </div>
                {% else %}
                    <div class="container-flex ms-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
                    p><b>{{ total_angajati_activi }} angajati </b> la {% now "jS F Y H:i" %} </p>
                    <h4>Detalii proprii:</h4>
                        <p><b>Nume:</b>{{ angajat.nume_angajat.capitalize }} {{ angajat.prenume_angajat.capitalize }}</p>
                        <p><b>Functie:</b> {{ contract_details.functie }}</p>
                        <p><b>Data inceput functie:</b> {{ contract_details.data_inceperii }};</p>
                        <p>Nr. cartela: </b>{{ angajat.id_pontaj }}</p>
                        <p><b>User:</b> {{ user }}</p>
                    </div>
                {% endif %}
            {% else %}
                <div class="container-flex ms-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
                        <p><b>{{ total_angajati_activi }} angajati </b> la {% now "jS F Y H:i" %} </p>
                </div>
            {% endif %}
        </div>
    </div>

    <p style="margin-top: 10px; margin-left: 10px">{% include 'registration/login_out_buttons.html' %}</p>

{% endblock %}