{% extends 'base.html' %}
{% load static %}

{% block title %}Pontaj lunar {{ month_name }}-{{ year_ }}{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    {% if request.user.is_staff %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="container-flex ms-3">
                        <div class="card text-primary bg-light border-primary border-3 mb-3">
                            <div class="card-header bg-dark">
                                <form method="get" id="filter_calendar_form">
                                    <div class="row">
                                        <div class="form-group col-6 bg-dark ">
                                            <select name="month_name"
                                                    onchange="document.getElementById('filter_calendar_form').submit()"
                                                    class="form-select bg-dark text-primary text-center" id="exampleSelect2">
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                                <option value="{{ month_nr }}" selected hidden>{{ month_name }}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6">
                                            <input name="year_value" value="{{ year_ }}" min="2020" max="2029" id="posNbr"
                                                   onchange="document.getElementById('filter_calendar_form').submit()"
                                                   type="number" class="form-control text-primary text-center"
                                                   placeholder="Month"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card text-primary bg-light border-primary border-3 mb-3">
                            <div class="card-header bg-dark text-center"><h3>
                                <a class="btn btn-success me-5" style="color: black; background-color: #9c27b0"
                                   href="{% url 'upload_csv' %}"
                                   role="button">Upload pontaj</a>
                            Pontaj {{ month_name }} - {{ year_ }}
                                <a class="btn btn-success ms-5" style="color: black; background-color: #ffca2c"
                                   href="{% url 'pontaj_simplificat' %}"
                                   role="button">Pontaj Simplificat</a>
                            </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {#                        <div class="card-body">#}
        <div class="container-flex">
{#            <div class="container-flex ms-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">#}
            <div class="container-flex ms-3" style="max-width: fit-content">
                <table id="myTable" class="table-primary">
{#                <table id="sortTable" class="table">#}
    {#                            <table id="myTable" class="border-3" style="border-color: grey">#}
                    <thead>
                    <tr>
{#                        <th class="bg-dark"><input id="" type="checkbox" onclick="toggleSelect()"/></th>#}


                          {% for head in table_head %}
    {#                                          <th class="bg-dark text-secondary" style="text-align: center">#}
                              <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                                <div>
                                    {{ head }}
                                </div>
                                <div class="d-flex">
                                    <span>
                                        <input name="{{ head }}" style="width: 80px" class="form-fluid m-2 bg-white"
                                               type="text"
                                               id="{{ head }}"
                                               onkeyup="myFunction({{ forloop.counter }}-1, id)"
                                               placeholder="Search...">
                                    </span>
                                    <span>
                                        <button type="button" class="btn-sm btn-outline-danger"
                                                style="background-color: #e1bee7; color: #0f1a25"
                                                onclick=sortTableHrefs({{ forloop.counter }}-1)><i
                                                class="bi bi-sort-alpha-down"></i>
                                        </button>
                                    </span>
                                </div>
                              </th>
                          {% endfor %}

                        <th class="border border-dark border-3 rounded" style="text-align: center; padding: 15px; background-color: #0dbf92">Total ore</th>

                        {% for week_dict in month_list %}
                            {% for day, day_type in week_dict.items %}
                                {% if day_type.1 > 0 %}
                                    {% if day_type.2 == 'week day' %}
                                        <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 15px">
                                            {{ day }}<br/>{{ day_type.1 }}
                                        </th>
                                    {% else %}
                                        <th class="border border-dark border-3 rounded" style="text-align: center; padding: 15px; background-color: yellow;  width: 80px">
                                            {{ day }}<br/>{{ day_type.1 }}
                                        </th>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for angajat in lista_pontaj %}
                        <tr>
{#                            <td class="bg-dark"><input value="{{ column_value.id }}" type="checkbox" name="chk"/></td>#}

                            {% if angajat.0.id_pontaj < 10  %}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                <a href="{% url 'details_employee' angajat.0.id %}" style="color: #0f1a25">
                                    00{{ angajat.0.id_pontaj }}</a>
                                </td>
                            {% elif angajat.0.id_pontaj > 10 and  angajat.0.id_pontaj < 100%}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                <a href="{% url 'details_employee' angajat.0.id %}" style="color: #0f1a25">
                                    0{{ angajat.0.id_pontaj }}</a>
                                </td>
                            {% else %}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                <a href="{% url 'details_employee' angajat.0.id %}" style="color: #0f1a25">
                                    {{ angajat.0.id_pontaj }}</a>
                                </td>
                            {% endif %}
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                <a href="{% url 'details_employee' angajat.0.id %}" style="color: #0f1a25">{{ angajat.0.nume_angajat.capitalize }} (pontaj)</a>
                            </td>
                            <td class="border border-dark border-3 rounded" style="text-align: center; background-color: #97d2f3">
                               <a href="{% url 'details_employee' angajat.0.id %}" style="color: #0f1a25"> {{ angajat.0.prenume_angajat.capitalize }} </a>
                            </td>

                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3; padding: 3px">
                                <a href="{% url 'pontaj_lunar_angajat' angajat.0.id %}" style="color: #0f1a25" target="_blank">Pontajul</a><br/>
                                <a href="{% url 'absente_angajat' angajat.0.id %}" style="color: #9c27b0" target="_blank">Absentele</a>
                            </td>

                            {% for status_angajat in angajat.1 %}
                                {% if status_angajat.status.abbreviated_value == "ANG" %}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3; padding: 3px">
                                    <a href="{% url 'status_angajat_update' status_angajat.id %}" style="color: #0f1a25" target="_blank">{{ status_angajat.hours_worked }}</a><br/>

                                </td>

                                {% else %}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #c2787b; padding: 3px">
                                    <a href="{% url 'status_angajat_update' status_angajat.id %}" style="color: #0f1a25" target="_blank">{{ status_angajat.status.abbreviated_value }}</a>
                                </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}

                    {% for angajat_list in lista_angajati_cu_ore %}

                        <tr>
{#                            <td class="bg-dark"><input value="{{ column_value.id }}" type="checkbox" name="chk"/></td>#}
                            {% if angajat_list.0.id_pontaj < 10  %}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c">
                                <a href="{% url 'details_employee' angajat_list.0.id %}" style="color: #0f1a25">
                                    00{{ angajat_list.0.id_pontaj }}</a>
                                </td>
                            {% elif angajat_list.0.id_pontaj > 10 and  angajat_list.0.id_pontaj < 100%}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c">
                                <a href="{% url 'details_employee' angajat_list.0.id %}" style="color: #0f1a25">
                                    0{{ angajat_list.0.id_pontaj }}</a>
                                </td>
                            {% else %}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c">
                                <a href="{% url 'details_employee' angajat_list.0.id %}" style="color: #0f1a25">
                                    {{ angajat_list.0.id_pontaj }}</a>
                                </td>
                            {% endif %}

                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c; padding: 3px">
                                <a href="{% url 'details_employee' angajat_list.0.id %}" style="color: #0f1a25">{{ angajat_list.0.nume_angajat.capitalize }} (ore)</a>
                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c; padding: 3px">
                                <a href="{% url 'details_employee' angajat_list.0.id %}" style="color: #0f1a25">{{ angajat_list.0.prenume_angajat.capitalize }}</a>
                            </td>
                            {% if angajat_list.2 > 999 %}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: red; padding: 3px">
                                    {{ angajat_list.2 }}
                                </td>
                            {% else %}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #0dbf92; padding: 3px">
                                    {{ angajat_list.2 }}
                                </td>
                            {% endif %}

                            {% for ore in angajat_list.1 %}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c; padding: 3px">
                                    {{ ore }}
                                </td>

                            {% endfor %}


                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h2>Ne pare rau, nu aveti acces!</h2>
    {% endif %}
{% endblock %}

{# ////////// table 2 doar cu ore#}
{#    <div class="container-flex ms-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">#}
{#        <table id="myTable" class="table-primary">#}
{#                            <table id="myTable" class="border-3" style="border-color: grey">#}
{#            <thead>#}
{#            <tr>#}
{#                <th class="bg-dark"><input id="" type="checkbox" onclick="toggleSelect()"/></th>#}
{#                                    <th class="bg-primary text-dark" style="text-align: center; padding: 5px">#}
{#                                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">#}
{#                  {% for head in table_head %}#}
{#                                          <th class="bg-dark text-secondary" style="text-align: center">#}
{#                      <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">#}
{#                        <div>#}
{#                            {{ head }}#}
{#                        </div>#}
{#                                    </th>#}
{#                        <div class="d-flex">#}
{#                            <span>#}
{#                                <input name="{{ head }}" style="width: 140px" class="form-fluid m-2 bg-white"#}
{#                                       type="text"#}
{#                                       id="{{ head }}"#}
{#                                       onkeyup="myFunction({{ forloop.counter }},id)"#}
{#                                       placeholder="Search...">#}
{#                            </span>#}
{#                            <span>#}
{#                                <button type="button" class="btn btn-outline-secondary "#}
{#                                        onclick=sortTable({{ forloop.counter }})><i#}
{#                                        class="bi bi-sort-alpha-down"></i>#}
{#                                </button>#}
{#                            </span>#}
{#                        </div>#}
{#                    </th>#}
{#                  {% endfor %}#}
{#                <th class="border border-dark border-3 rounded" style="text-align: center; padding: 5px; background-color: #0dbf92">#}
{#                    Total ore#}
{#                </th>#}
{#                {% for week_dict in month_list %}#}
{#                    {% for day, day_type in week_dict.items %}#}
{#                        {% if day_type.1 > 0 %}#}
{#                            {% if day_type.2 == 'week day' %}#}
{#                                <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 15px">#}
{#                                    {{ day }}<br/>{{ day_type.1 }}#}
{#                                </th>#}
{#                            {% else %}#}
{#                                <th class="border border-dark border-3 rounded bg-danger" style="text-align: center; padding: 15px">#}
{#                                    {{ day }}<br/>{{ day_type.1 }}#}
{#                                </th>#}
{#                            {% endif %}#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                {% for angajat in lista_pontaj %}#}
{#            <tr>#}
{#            {% for angajat_list in lista_angajati_cu_ore %}#}
{##}
{#                <tr>#}
{#                    <td class="bg-dark"><input value="{{ column_value.id }}" type="checkbox" name="chk"/></td>#}
{#                    <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c; padding: 3px">#}
{#                    {{ angajat_list.0.id_pontaj }}#}
{#                    </td>#}
{#                    <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c; padding: 3px">#}
{#                    {{ angajat_list.0.nume_angajat }}#}
{#                    </td>#}
{#                    <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c; padding: 3px">#}
{#                    {{ angajat_list.0.prenume_angajat }}#}
{#                    </td>#}
{#                    {% for ore in angajat_list.1 %}#}
{#                        <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c; padding: 3px">#}
{#                            {{ ore }}#}
{#                        </td>#}
{#                    {% endfor %}#}
{#                    <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c; padding: 3px">#}
{#                        {{ angajat_list.2 }}#}
{#                    </td>#}
{#                    {% for ang2 in angajat %}#}
{#                        <td>{{ angajat.1 }}; </td>#}
{#                    <td  class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c; padding: 3px">{{ ang2 }}; </td>#}
{#                    {% endfor %}#}
{##}
{#                        {% for ore in angajat %}#}
{#                            <td>{{ ore.1 }}; </td>#}
{#                        {% endfor %}#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tr>#}
{#                    <tr>#}
{#                        {% if angajat.0.id_pontaj < 10  %}#}
{#                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">#}
{#                                00{{ angajat.0.id_pontaj }}#}
{#                            </td>#}
{#                        {% elif angajat.0.id_pontaj > 10 and  angajat.0.id_pontaj < 100%}#}
{#                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">#}
{#                                0{{ angajat.0.id_pontaj }}#}
{#                            </td>#}
{#                        {% else %}#}
{#                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">#}
{#                                {{ angajat.0.id_pontaj }}#}
{#                            </td>#}
{#                        {% endif %}#}
{#                        <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">#}
{#                            <a href="{% url 'details_employee' angajat.0.id %}" style="color: #0f1a25">{{ angajat.0.nume_angajat.capitalize }}</a>#}
{#                        </td>#}
{#                        <td class="border border-dark border-3 rounded" style="text-align: center; background-color: #97d2f3">#}
{#                           <a href="{% url 'details_employee' angajat.0.id %}" style="color: #0f1a25"> {{ angajat.0.prenume_angajat.capitalize }}</a>#}
{#                        </td>#}
{##}
{##}
{#                        {% for status_angajat in angajat.1 %}#}
{#                            {% if status_angajat.status.abbreviated_value == "ANG"%}#}
{#                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3; padding: 3px">#}
{#                                <a href="{% url 'status_angajat_update' status_angajat.id %}" style="color: #0f1a25" target="_blank">{{ status_angajat.hours_worked }}</a><br/>#}
{##}
{#                                <a href="{% url 'status_angajat_update' status_angajat.id %}" style="color: #0f1a25" target="_blank">{{ ore_lucrate }}</a>#}
{#                            </td>#}
{##}
{#                            {% else %}#}
{#                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c; padding: 3px">#}
{#                                <a href="{% url 'status_angajat_update' status_angajat.id %}" style="color: #0f1a25" target="_blank">{{ status_angajat.status.abbreviated_value }}</a>#}
{#                            </td>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                {% endfor %}#}
{##}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{# ////////////////////// #}
{#    </div>#}
{#     <div class="container-flex ms-3 col-4" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">#}
{#                            <table id="myTable" class="table-primary">#}
{#                            <table id="myTable" class="border-3" style="border-color: grey">#}
{#                                <thead>#}
{#                                <tr>#}
{#                                    <th class="bg-primary text-dark" style="text-align: center; padding: 5px">#}
{#                                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">#}
{##}
{#                                    {% for week_dict in month_list %}#}
{#                                        {% for day, day_type in week_dict.items %}#}
{#                                            {% if day_type.1 > 0 %}#}
{#                                                {% if day_type.2 == 'week day' %}#}
{#                                                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 15px">#}
{#                                                        {{ day }}<br/>{{ day_type.1 }}#}
{#                                                    </th>#}
{#                                                {% else %}#}
{#                                                    <th class="border border-dark border-3 rounded bg-danger" style="text-align: center; padding: 15px">#}
{#                                                        {{ day }}<br/>{{ day_type.1 }}#}
{#                                                    </th>#}
{#                                                {% endif %}#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
{#                                    {% endfor %}#}
{#                                </tr>#}
{#                                </thead>#}
{#                                <tbody>#}
{#                                {% for angajat in lista_pontaj %}#}
{#                                    <tr>#}
{#                                        #}
{##}
{##}
{#                                        {% for status_angajat in angajat.1 %}#}
{#                                            {% if status_angajat.status.abbreviated_value == "ANG"%}#}
{#                                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3; padding: 3px">#}
{#                                                <a href="{% url 'status_angajat_update' status_angajat.id %}" style="color: #0f1a25" target="_blank">{{ status_angajat.hours_worked }}</a>#}
{#                                            </td>#}
{#                                            {% else %}#}
{#                                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c; padding: 3px">#}
{#                                                <a href="{% url 'status_angajat_update' status_angajat.id %}" style="color: #0f1a25" target="_blank">{{ status_angajat.status.abbreviated_value }}</a>#}
{#                                            </td>#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
{##}
                                        {#                                            <td>{{ x.1 }}</td>#}
{#                                {% endfor %}#}
{##}
{#                                </tbody>#}
{#                            </table>#}

{#{% endblock %}#}


{#de la rand 88 eliminat#}
{#                                //////////////////////////////#}
{#                                       <th class="bg-dark text-secondary" style="text-align: center">#}
{#                                            <div id="id_pontaj">#}
{#                                                ID Pontaj#}
{#                                            </div>#}
    {#                                    </th>#}
{#                                            <div class="d-flex">#}
{#                                                <span>#}
{#                                                    <input name="ID Pontaj" style="width: 140px" class="form-fluid m-2 bg-white"#}
{#                                                           type="text"#}
{#                                                           id="id_pontaj"#}
{#                                                           onkeyup="myFunction({{ forloop.counter }},id)"#}
{#                                                           placeholder="Search...">#}
{#                                                </span>#}
{#                                                <span>#}
{#                                                    <button type="button" class="btn btn-outline-secondary "#}
{#                                                            onclick=sortTable({{ forloop.counter }})><i#}
{#                                                            class="bi bi-sort-alpha-down"></i>#}
{#                                                    </button>#}
{#                                                </span>#}
{#                                            </div>#}
{#                                        </th>#}
{##}
{#                                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">#}
{#                                        Nume#}
{#                                    </th>#}
{#                                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">#}
{#                                        Prenume#}
{#                                    </th>#}
{#                                ///////////////////////////#}
{#                                    {% for day in list_month %}#}
{#                                        {% if day > 0 %}#}
{##}
{#                                                <th class="border border-dark border-3 rounded bg-primary" style="text-align: center">#}
{#                                                    {{ day }}#}
{#                                                </th>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}

{#                                <thead>#}
{#                                <tr>#}
{#                                    {% for week_day in week_days %}#}
{#                                        <th class="btn-dark">#}
{#                                        <p>{{ week_day }}</p>#}
{#                                    {% endfor %}#}
{#                                </tr>#}
{#                                </thead>#}
{#                                <tbody>#}
{#                                #}
{#                                {% for week_list in month_list %}#}
{#                                    <tr>#}
{#                                        {% for key, values in week_list.items %}#}
{#                                            <td class="{{ values.0 }}"#}
{#                                                onclick="view_detail_day('detailed_day','{{ values.1 }}','{{ month_name }}','{{ values.2 }}')">{{ values.1 }}</td>#}
{#                                        {% endfor %}#}
{#                                    </tr>#}
{#                                {% endfor %}#}
{#                                </tbody>#}

{#                                    {% for x in dict_pontaj %}#}
{#                                        <tr>#}
{#                                            <td>{{ x }}</td>#}
{##}
{#                                            <td>{{ x.nume_angajat }}</td>#}
{##}
{#                                    {% endfor %}#}
{#                                        {% for y, z in dict_pontaj.items %}#}
{#                                                {% for y in z %}#}
{#                                            {% for e in z %}#}
{#                                            <td>{{ y.1 }}{{ z.15 }}</td>#}
{#                                            <td>{{ e }}</td>#}
{#                                            {% endfor %}#}
{#                                        {% endfor %}#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <td>{{ dict_pontaj.values }}</td>#}
{#                                            <td>{{ x.values }}</td>#}
{#                                            {% for a, b in x.items %}#}
{#                                                <td>{{ a }}</td>#}
{#                                            {% endfor %}#}
{#                                        <tr>#}
{#                                            {% for key, values in x.items %}#}
{##}
{#                                                <td>{{ key }}</td>#}
{##}
{#                                            {% endfor %}#}
{#                                        </tr>#}
{#                                    {% endfor %}#}
{#                                <tr>#}
{##}
{#                                    {% for ang in date_angajat%}#}
{#                                        <tr>#}
{##}
{#                                            <td>{{ ang.angajat.nume_angajat }}</td>#}
{#                                            <td>{{ ang.hours_worked }}</td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <td>{{ ang.hours_worked }}</td>#}
{#                                        </tr>#}
{#                                    {% endfor %}#}
{#                                </tr>#}

{#                                {% for days in month_list %}#}
{#                                    <tr>#}
{#                                    {% for key, values in days.items %}#}
{#                                        {% if values.1 > 0 %}#}
{#                                            <th class="btn-dark">#}
{#                                                {{ values.1 }}#}
{#                                            </th>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                    </tr>#}
{#                                {% endfor %}#}

{# tentativa de tabel paralel, doar cu ore lucrate, mai jos, filtrul din primul nu are efect si pe al doile #}
{#                        <div class="container-flex ms-3 col-4" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">#}
{#                            <table id="myTable" class="table-primary">#}
{#                            <table id="myTable" class="border-3" style="border-color: grey">#}
{#                                <thead>#}
{#                                <tr>#}
{#                                    <th class="bg-primary text-dark" style="text-align: center; padding: 5px">#}
{#                                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">#}
{##}
{#                                    {% for week_dict in month_list %}#}
{#                                        {% for day, day_type in week_dict.items %}#}
{#                                            {% if day_type.1 > 0 %}#}
{#                                                {% if day_type.2 == 'week day' %}#}
{#                                                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 15px">#}
{#                                                        {{ day }}<br/>{{ day_type.1 }}#}
{#                                                    </th>#}
{#                                                {% else %}#}
{#                                                    <th class="border border-dark border-3 rounded bg-danger" style="text-align: center; padding: 15px">#}
{#                                                        {{ day }}<br/>{{ day_type.1 }}#}
{#                                                    </th>#}
{#                                                {% endif %}#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
{#                                    {% endfor %}#}
{#                                </tr>#}
{#                                </thead>#}
{#                                <tbody>#}
{#                                {% for angajat in lista_pontaj %}#}
{#                                    <tr>#}
{#                                        #}
{##}
{##}
{#                                        {% for status_angajat in angajat.1 %}#}
{#                                            {% if status_angajat.status.abbreviated_value == "ANG"%}#}
{#                                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3; padding: 3px">#}
{#                                                <a href="{% url 'status_angajat_update' status_angajat.id %}" style="color: #0f1a25" target="_blank">{{ status_angajat.hours_worked }}</a>#}
{#                                            </td>#}
{#                                            {% else %}#}
{#                                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c; padding: 3px">#}
{#                                                <a href="{% url 'status_angajat_update' status_angajat.id %}" style="color: #0f1a25" target="_blank">{{ status_angajat.status.abbreviated_value }}</a>#}
{#                                            </td>#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
{##}
                                        {#                                            <td>{{ x.1 }}</td>#}
{#                                {% endfor %}#}
{##}
{#                                </tbody>#}
{#                            </table>#}