{% extends 'base.html' %}
{% load static %}

{% block title %}Pontaj {{ angajat.nume_angajat }} {{ month_nr }}/{{ year_ }}{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    {% if request.user.is_staff %}

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="container-flex ms-3">
                        <div class="card text-primary bg-light border-primary border-3 mb-3">
                            <div class="card-header bg-dark">
                                <form method="get" id="filter_calendar_form">
                                    <div class="row">
                                        <div class="form-group col-6 bg-dark ">
                                            <select name="month_name"
                                                    onchange="document.getElementById('filter_calendar_form').submit()"
                                                    class="form-select bg-dark text-primary text-center"
                                                    id="exampleSelect2">
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                                <option value="{{ month_nr }}" selected hidden>{{ month_name }}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6">
                                            <input name="year_value" value="{{ year_ }}" min="2020" max="2029"
                                                   id="posNbr"
                                                   onchange="document.getElementById('filter_calendar_form').submit()"
                                                   type="number" class="form-control text-primary text-center"
                                                   placeholder="Month"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card text-primary bg-light border-primary border-3 mb-3">
                            <div class="card-header bg-dark text-center"><h3>
                                <a class="btn btn-success me-5" style="color: black; background-color: #9c27b0"
                                   href="{% url 'upload_csv' %}"
                                   role="button">Upload pontaj</a>
                                Pontaj {{ month_name }} - {{ year_ }}
                                <a href="{% url 'details_employee' angajat.id %} ">
                                    {{ angajat.nume_angajat.capitalize }} {{ angajat.prenume_angajat.capitalize }}</a>
                                <a class="btn btn-success me-5" style="color: black; background-color: #ffca2c"
                                   href="{% url 'absente_angajat' angajat.id %}"
                                   role="button">Absente angajat</a>
                            </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



    <div class="container-flex">
        <div class="container-flex m-3" style="max-width: fit-content">
            <table id="myTable" class="table-primary">
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Data
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Ore lucratoare<br/><i>(fara pauze)</i>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Ore pontaj<br/><i>(Ore:Minute:Secunde)</i>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        IN<br/><i>(Ore:Minute:Secunde)</i>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        OUT<br/><i>(Ore:Minute:Secunde)</i>
                    </th>

                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        {{ month_name }}
                    </td>
                    {% if lista_angajat_cu_ore_lunar.2 < 999 %}
                        <td class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">

                            {{ lista_angajat_cu_ore_lunar.2 }}
                        </td>
                    {% else %}
                        <td class="border border-dark border-3 rounded bg-warning" style="text-align: center; padding: 5px">
                        !!! {{ lista_angajat_cu_ore_lunar.2 }} ore !!!<br/>Urmariti unde apar<br/>ore lucrate "999" <br/>si corectati pontajul
                        </td>
                    {% endif %}
                    </td>
                    <td class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        //
                    </td>
                    <td class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        //
                    </td>
                    <td class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        //
                    </td>
                </tr>

                {% for lista_lunar,lista_cu_ore_lunar in lista_lunar_zip %}
                    <tr>
                        <td class="border border-dark border-3 rounded bg-primary"
                            style="text-align: center; padding: 5px">
                            {{ lista_lunar.date_time_in.astimezone.day }}/{{ lista_lunar.date_time_in.astimezone.month }}
                        </td>

                        <td class="border border-dark border-3 rounded bg-primary"
                            style="text-align: center; padding: 5px">
                            {{ lista_cu_ore_lunar }}
                        </td>

                        <td class="border border-dark border-3 rounded bg-primary"
                            style="text-align: center; padding: 5px">
                            <a href="{% url 'status_angajat_update' lista_lunar.id %}" style="color: #0f1a25" target="_blank">
                                {{ lista_lunar.hours_worked }}
                            </a>
                        </td>

                        <td class="border border-dark border-3 rounded bg-primary"
                            style="text-align: center; padding: 5px">
                            <a href="{% url 'status_angajat_update' lista_lunar.id %}" style="color: #0f1a25" target="_blank">
                                {{ lista_lunar.date_time_in.astimezone.hour }}:{{ lista_lunar.date_time_in.astimezone.minute }}:{{ lista_lunar.date_time_in.astimezone.second }}
                            </a>
                        </td>

                        <td class="border border-dark border-3 rounded bg-primary"
                            style="text-align: center; padding: 5px">
                            <a href="{% url 'status_angajat_update' lista_lunar.id %}" style="color: #0f1a25" target="_blank">
                                {{ lista_lunar.date_time_out.astimezone.hour }}:{{ lista_lunar.date_time_out.astimezone.minute }}:{{ lista_lunar.date_time_out.astimezone.second }}
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-flex">
        <div class="container-flex m-3" style="max-width: fit-content">
            <table id="myTable" class="table-primary">
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Anul {{ year_ }}
                    </th>
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Data
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Ore lucratoare<br/><i>(fara pauze)</i>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        Ore pontaj<br/><i>(Ore:Minute:Secunde)</i>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        IN<br/><i>(Ore:Minute:Secunde)</i>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        OUT<br/><i>(Ore:Minute:Secunde)</i>
                    </th>

                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        {{ year_ }}
                    </td>
                    <td class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        {{ lista_angajat_cu_ore_total.2 }}
                    </td>
                    <td class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        //
                    </td>
                    <td class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        //
                    </td>
                    <td class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        //
                    </td>
                </tr>

                {% for lista_total,lista_cu_ore_total in lista_total_zip %}
                    <tr>
                        <td class="border border-dark border-3 rounded bg-primary"
                            style="text-align: center; padding: 5px">
                            {{ lista_total.date_time_in.astimezone.day }}/{{ lista_total.date_time_in.astimezone.month }}
                        </td>

                        <td class="border border-dark border-3 rounded bg-primary"
                            style="text-align: center; padding: 5px">
                            {{ lista_cu_ore_total }}
                        </td>

                        <td class="border border-dark border-3 rounded bg-primary"
                            style="text-align: center; padding: 5px">
                            <a href="{% url 'status_angajat_update' lista_total.id %}" style="color: #0f1a25" target="_blank">
                                {{ lista_total.hours_worked }}</a>
                        </td>

                        <td class="border border-dark border-3 rounded bg-primary"
                            style="text-align: center; padding: 5px">
                            <a href="{% url 'status_angajat_update' lista_total.id %}" style="color: #0f1a25" target="_blank">
                                {{ lista_total.date_time_in.astimezone.hour }}:{{ lista_total.date_time_in.astimezone.minute }}:{{ lista_total.date_time_in.astimezone.second }}
                            </a>
                        </td>

                        <td class="border border-dark border-3 rounded bg-primary"
                            style="text-align: center; padding: 5px">
                            <a href="{% url 'status_angajat_update' lista_total.id %}" style="color: #0f1a25" target="_blank">
                                {{ lista_total.date_time_out.astimezone.hour }}:{{ lista_total.date_time_out.astimezone.minute }}:{{ lista_total.date_time_out.astimezone.second }}
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{##}
{#    <div class="row">#}
{#        <div class="col-xl-4 col-lg-2 col-md-2 col-sm-4">#}
{#            <h4>Pontaj {{ month_name }} </h4>#}
{#            {% for lista_lunar,lista_cu_ore_lunar in lista_lunar_zip %}#}
{#                <div>#}
{#                    {{ lista_lunar.date_time_in.astimezone.date }}*{{ lista_lunar.hours_worked }}*ore:{{ lista_cu_ore_lunar }}#}
{#                </div>#}
{#            {% empty %}#}
{#                <h3>Nu sunt date inregistrate pentru luna {{ month_name }}</h3>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#    <div class="col">#}
{#        <div class="col-xl-4 col-lg-2 col-md-2 col-sm-4">#}
{#            <h4>Istoric pontaj angajat</h4>#}
{#            {% for lista_total,lista_cu_ore_total in lista_total_zip %}#}
{#                <div>#}
{#                    {{ lista_total.date_time_in.astimezone.date }}*{{ lista_total.hours_worked }}*ore:{{ lista_cu_ore_total }}#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}