{% extends 'base.html' %}
{% load static %}

{% block title %}Pontaj simplu {{ month_name }}-{{ year_ }}{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    {% if request.user.is_staff %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="container-flex ms-3">
                        <div class="card text-primary bg-light border-primary border-3 mb-3">
                            <div class="card-header bg-dark">
                                <form method="get" id="filter_calendar_form">
                                    <div class="row">
                                        <div class="form-group col-6 bg-dark ">
                                            <select name="month_name"
                                                    onchange="document.getElementById('filter_calendar_form').submit()"
                                                    class="form-select bg-dark text-primary text-center" id="exampleSelect2">
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                                <option value="{{ month_nr }}" selected hidden>{{ month_name }}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6">
                                            <input name="year_value" value="{{ year_ }}" min="2020" max="2029" id="posNbr"
                                                   onchange="document.getElementById('filter_calendar_form').submit()"
                                                   type="number" class="form-control text-primary text-center"
                                                   placeholder="Month"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card text-primary bg-light border-primary border-3 mb-3">
                            <div class="card-header bg-dark text-center">
                            Ore lucrate {{ month_name }} - {{ year_ }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-flex">
            <div class="container-flex ms-3" style="max-width: fit-content">
                <table id="myTable" class="table-primary">
                    <thead>
                    <tr>
                        <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                            {{ table_head.0 }}</th>

                        <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">

                            <span class="d-flex">
                                <span class="me-3">{{ table_head.1 }}  </span>
{#                                <span>#}
{#                                    <input name="{{ table_head.1 }}" style="width: 80px" class="form-fluid m-2 bg-white"#}
{#                                           type="text"#}
{#                                           id="{{ table_head.1 }}"#}
{#                                           onkeyup="myFunction(1, id)"#}
{#                                           placeholder="Search...">#}
{#                                </span>#}
                                <span>
                                    <button type="button" class="btn-sm btn-outline-danger"
                                            style="background-color: #e1bee7; color: #0f1a25"
                                            onclick=sortTableHrefs(1)><i
                                            class="bi bi-sort-alpha-down"></i>
                                    </button>
                                </span>
                            </span>
                        </th>

                        <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                            {{ table_head.2 }}</th>


                        <th class="border border-dark border-3 rounded" style="text-align: center; padding: 15px; background-color: #0dbf92">Total ore</th>

                        {% for week_dict in month_list %}
                            {% for day, day_type in week_dict.items %}
                                {% if day_type.1 > 0 %}
                                    {% if day_type.2 == 'week day' %}
                                        <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 15px">
                                            {{ day }} {{ day_type.1 }}
                                        </th>
                                    {% else %}
                                        <th class="border border-dark border-3 rounded" style="text-align: center; padding: 15px; background-color: yellow;  width: 80px">
                                            {{ day }} {{ day_type.1 }}
                                        </th>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>


                    {% for angajat_list in lista_angajati_cu_ore %}

                        <tr>
{#                            <td class="bg-dark"><input value="{{ column_value.id }}" type="checkbox" name="chk"/></td>#}
                            {% if angajat_list.0.id_pontaj < 10  %}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c">
                                <a href="{% url 'details_employee' angajat_list.0.id %}" style="color: #0f1a25">
                                    00{{ angajat_list.0.id_pontaj }}</a>
                                </td>
                            {% elif angajat_list.0.id_pontaj > 10 and  angajat_list.0.id_pontaj < 100%}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c">
                                <a href="{% url 'details_employee' angajat_list.0.id %}" style="color: #0f1a25">
                                    0{{ angajat_list.0.id_pontaj }}</a>
                                </td>
                            {% else %}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c">
                                <a href="{% url 'details_employee' angajat_list.0.id %}" style="color: #0f1a25">
                                    {{ angajat_list.0.id_pontaj }}</a>
                                </td>
                            {% endif %}

                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c; padding: 3px">
                                <a href="{% url 'details_employee' angajat_list.0.id %}" style="color: #0f1a25">{{ angajat_list.0.nume_angajat.capitalize }}</a>
                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c; padding: 3px">
                                <a href="{% url 'details_employee' angajat_list.0.id %}" style="color: #0f1a25">{{ angajat_list.0.prenume_angajat.capitalize }}</a>
                            </td>
                            {% if angajat_list.2 > 999 %}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: red; padding: 3px">
                                    {{ angajat_list.2 }}
                                </td>
                            {% else %}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #0dbf92; padding: 3px">
                                    {{ angajat_list.2 }}
                                </td>
                            {% endif %}
                            {% for ore in angajat_list.1 %}
                                <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #ffca2c; padding: 3px">
                                    {{ ore }}
                                </td>
                            {% endfor %}

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h2>Ne pare rau, nu aveti acces!</h2>
    {% endif %}
{% endblock %}