{% extends 'base.html' %}
{% block title %}Modifica status {{ object.angajat.nume_angajat }}{% endblock %}
{% block content %}
    <div class="row flex justify-content-start ms-1" style="width: 99%">
        <h3>Modifica status {{ object.angajat.nume_angajat.capitalize }} {{ object.angajat.prenume_angajat.capitalize }}<br/>pentru: {{ object.date_time_in.astimezone.date }}</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-success btn-lg m-3">Modifica status</button>
        </form>

    </div>


{% endblock %}