{% extends 'base.html' %}
{% block title %}Detalii Status {{ status.abbreviated_value }}{% endblock %}
{% block content %}
    <h3>View value: {{ status.view_value }}</h3>
    <h3>Abbreviated value: {{ status.abbreviated_value }}</h3>
    <a class="btn btn-success mt-1" style="color: black; background-color: #0fbc7c" href="{% url 'status_all' %}" role="button">Inapoi la toate statusurile</a>

{% endblock %}