{% extends 'base.html' %}
{% block title %}Sterge Status {{ status.abbreviated_value }}{% endblock %}
{% block content %}
    <p>Esti sigura ca vrei sa stergi statusul: {{ status.view_value }}</p>
    <form method="post">
        {#    cross-site referecing attac protection#}
        {% csrf_token %}
        {#        orice formular are metode. as_p genereaza paragrafe cu fiecare field #}
        {#        mai exista as_ul, as_ol, etc #}
        <button type="submit" class="btn-danger btn-lg m-5">Sterge status</button>
    </form>
    <a class="btn btn-primary m-5" style="color: black" href="{% url 'status_all' %}"
               role="button">Inapoi la statusuri</a>
{% endblock %}