{% extends 'base.html' %}
{% block title %}Modifica status {{ status.abbreviated_value }}{% endblock %}
{% block content %}
    <div class="row flex justify-content-start ms-1" style="width: 99%">
        <h3>Modifica status {{ status.abbreviated_value }}</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-success btn-lg m-3">Modifica status</button>
        </form>

    </div>
    <a class="btn btn-success mt-1" style="color: black; background-color: #0fbc7c" href="{% url 'status_all' %}"
       role="button">Inapoi la toate statusurile</a>

{% endblock %}