{% extends 'base.html' %}
{% block title %} Toate status-urile {% endblock %}
{% block content %}
    <div class="container-flex m-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
        <a class="btn btn-success btn-sm" href="{% url 'create_status' %}" role="button">Creeaza status nou</a>
    </div>
    <div class="container-flex">
        <div class="container-flex m-3" style="max-width: fit-content">
            <table id="myTable" class="table-primary">
                <thead>
                <tr>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Denumire status</div>
                        <div class="d-flex">
                            <span>
                                <input name="Denumire status" style="width: 140px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Denumire status"
                                       onkeyup="myFunction(0, id)"
                                       placeholder="Search...">
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-danger "
                                        onclick=sortTable(0)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">
                        <div>Abreviere status</div>
                        <div class="d-flex">
                            <span>
                                <input name="Abreviere status" style="width: 140px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="Abreviere status"
                                       onkeyup="myFunction(1, id)"
                                       placeholder="Search...">
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-danger "
                                        onclick=sortTable(1)><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                        </div>
                    </th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">Buton modifica</th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">Buton Detalii</th>
                    <th class="border border-dark border-3 rounded bg-primary" style="text-align: center; padding: 5px">Buton Sterge</th>
                </tr>
                </thead>
                <tbody>
                    {% for status in statuses %}
                        <tr>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3; padding: 10px">
                                {{ status.view_value }}
                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3; padding: 10px">
                                {{ status.abbreviated_value }}
                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                <a class="btn btn-primary btn-sm" href="{% url 'update_status' status.id %}" role="button">
                                    Modifica Status
                                </a>
                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                <a class="btn btn-secondary btn-sm" href="{% url 'status_detail' status.id %}" role="button">
                                    Detalii Status</a>
                            </td>
                            <td class="border border-dark border-3 rounded " style="text-align: center; background-color: #97d2f3">
                                <a class="btn btn-danger btn-sm" href="{% url 'delete_status' status.id %}" role="button">
                                    Sterge Status
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}