{% extends 'base.html' %}
{% block title %}Modifica angajat{% endblock %}
{% block content %}
    <div class="row flex justify-content-start ms-1" style="width: 99%">
        <div class="col-7  m-auto border border-warning border-5 rounded" style="padding: 20px">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="col m-1 border border-warning border-5 rounded">
                    <h2 style="text-align: center">!!! Esti sigur ca doresti sa modifici angjatul:<br>
                        <p style="text-align: center">{{ object.nume_angajat.capitalize }} {{ object.prenume_angajat.capitalize }}?
                            !!!</p></h2>
                </div>
                <button type="submit" class="btn-success btn-lg m-3">Modifica angajat</button>
                <div>
                    <a class="btn btn-primary m-3" style="color: black" href="{% url 'details_employee' employee.id %}"
                       role="button">Inapoi la angajat</a>
                </div>
            </form>
        </div>
        <p style="margin-top: 40px">{% include 'registration/login_out_buttons.html' %}</p>
    </div>
{% endblock %}