{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4 class="ms-5">Atentie! Fisierul se va incarca doar daca niciunul dintre angajatii<br/>
        prezenti in fisier nu exista deja, mai precis trebuie ca fiecare id_pontaj<br/>
        din fisier sa nu existe deja pentru alt angajat din baza de date!<br/>
            In caz contrar, NU SE VA INCARCA NIMIC din fisier!
        </h4>
{#        <div class="container-flex m-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">#}
{#            Puteti descarca aici un exemplu pentru capul de tabel:#}
{#        <a style="padding: 10px; margin: 10px" class="btn btn-primary btn-sm" href="{% url 'download_file_for_upload_angajati' %}" role="button">Download file</a>#}
{#        </div>#}
{#        #### TODO de reactivat partea aceasa, sa se importe/descarce formatul de file ce il downloadeaza de aici#}

        <div class="ms-2">Trebuie sa incarcati un fisier de tip ".xlsx" / ".xls" /.csv" structurat astfel:<br/>
        <div class="m-1">- Capul de tabel sa fie compus din 8 coloane, scrise exact cum urmeaza, fara ' (ghilimica simpla):<br/>
            'nume_angajat', 'prenume_angajat', 'id_pontaj', 'cnp', 'telefon', 'religie','email', 'data_angajare', 'data_nasterii"</div>
        - In randurile urmatoare puteti sa aveti si campuri goale, DAR NU SI PENTRU DATELE OBLIGATORII DE MAI JOS;<br/>
            <div class="m-1"><b>DATE OBLIGATORII:</b> 'nume_angajat', 'prenume_angajat', 'id_pontaj'</div>
            <div class="m-1">Pentru 'data_angajare' si 'data_nasterii' folositi formatul de Date: "ZZ/LL/AAAA"</div>
        </div>
        <div class="ms-5 mb-5">Exemplu cap tabel:<br/>
            <img class="roundedImage" src="/static/cap_tabel_upload_angajati.png" alt="exemplu_cap_tabel">
{#            <img class="roundedImage" src="{% static "cap_tabel_upload_angajati.png" %}" alt="exemplu_cap_tabel">#}
{#            <img class="roundedImage" src="{% static "cap_tabel_upload_angajati.png" %}" alt="exemplu_cap_tabel">#}
        </div>
        <div class="col-6 m-3 border border-primary border-5 rounded" style="border-radius: 10px; padding: 10px">
            <input type="file" name="myfile">
            <button type="submit" class="btn-warning btn-sm">Upload</button>
        </div>
    </form>
{% endblock %}