{% extends 'base.html' %}
{% block title %}Upload pontaj{% endblock %}
{% block content %}
    <div class="row flex justify-content-start ms-1" style="width: 99%">
        <div class="col-7  m-auto border border-warning border-5 rounded" style="padding: 20px">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="csv_file">
                <button type="submit" class="btn-warning m-2">
                    Upload csv for processing</button>

        </form>
        </div>
    </div>
{% endblock %}