.errorlist
    {
        color: red;
    }

.error input, .error select {
    border: 2px red solid;
}

#id_cnp {
    font-weight: bold ;
}

label[for="id_cnp"] {
    font-weight: bolder;
}
label[for="id_nume_angajat"] {
    font-weight: bolder;
}
label[for="id_prenume_angajat"] {
    font-weight: bolder;
}
label[for="id_telefon"] {
    font-weight: bolder;
}

