{% extends 'base.html' %}
{% block title %}Contract&Status Angajat{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ contract_form.as_p }}
        {{ status_form.as_p }}
    <button type="submit" style="background-color: #0dcaf0">Adauga date angajat</button>
    </form>
{% endblock %}