{% extends 'base.html' %}
{% block title %}Creaza Angajat{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ angajat_form.as_p }}
        {{ user_form.as_p }}
    <button type="submit" value="create" name="_create" style="background-color: #0dcaf0">Creeaza Angajat</button>
    <button type="submit" value="else" name="_else" style="background-color: #ffca2c">Creeaza si adauga altul</button>
    <button type="submit" value="continue" name="_continue" style="background-color: #67bb6a">Creeaza si detalii contractuale</button>
    </form>
{% endblock %}