
{#!!! INLOCUITA CU employee_detail.html#}

{% extends 'base.html' %}

{% block title %} {{ angajat.nume_angajat.capitalize }} {{ angajat.prenume_angajat.capitalize }} {% endblock %}
{% block content %}

    <div class="row flex justify-content-start ms-1" style="width: 99%">
        <div class="col-9 m-1 border border-primary border-5 rounded">
            <h1>Angajat:</h1>
            <h2>{{ angajat }}</h2>
            <h1>Statusuri:</h1>
            {% for status in statuses reversed %}
                {#                <h2>{{ status.status.view_value }}, data: {{ status.date_time_in.date }} iesire: {{ status.date_time_out }},#}
                {#                    intrare time: {{ status.date_time_in.time }}</h2>#}
                <h4> {{ status.status.abbreviated_value }} - {{ status.date_time_in.astimezone.date }}|||
                    {#                    {{ status.status.abbreviated_value }}, in: {{ status.date_time_in.astimezone.date }},#}
                    {#                    {{ status.date_time_in.astimezone.hour }}:{{ status.date_time_in.astimezone.minute }},#}
                    in --> {{ status.date_time_in.astimezone.hour }}:{{ status.date_time_in.astimezone.minute }},
                    out --> {{ status.date_time_out.astimezone.hour }}:{{ status.date_time_out.astimezone.minute }},
                    total ore: {{ status.hours_worked }}
                    {#                    {{ status.date_time_out.astimezone.date }}#}
                    <a class="btn btn-primary m-5 btn-sm"
                       style="color: black"
                       href="{% url 'status_angajat_update' status.id %}"
                       role="button">Update status</a></h4>
                {#                <a class="btn btn-primary m-5 btn-sm" style="color: black" href="{% url 'status_angajat_update' status.id %}"#}
                {#                       role="button">Update status</a>#}
                {#                <h2>{{ status.status.view_value }}, {{ status.date }} iesire: {{ status.last_out }},#}
                {#                    intrare: {{ status.first_in }}</h2>#}
            {% endfor %}

            {% for detaliu in detalii %}
                <h1><b>Contract</b></h1>
                <h3><b>{{ detaliu }}</b> <a class="btn btn-primary m-5" style="color: black"
                                            href="{% url 'update_contract' detaliu.id %}"
                                            role="button">Update contract</a></h3>
                <h3>start: {{ detaliu.data_inceperii }}</h3>
                <h3>end: {{ detaliu.data_incetarii }}</h3>
                <h3>introdus in: {{ detaliu.angajat.data_introducere }}</h3>
                <h3>{{ detaliu.angajat.cnp }}</h3>

                {#                aici pun butonul de update pt contract detaliu.id#}
            {% endfor %}
            <h2><b>Commentarii</b></h2>
            {% for comentariu in comentarii reversed %}
                <p>{{ comentariu }}</p>
            {% endfor %}
            <h2>Statusuri</h2>
        </div>
        {#        {% if statuses|last != 'LICHIDAT' %}#}

        {#        {% endif %}#}
        {#        {% with status=statuses|last %}#}
        {#            {% if status != 'LICHIDAT' %}#}
        {% if last_status.status.view_value != 'LICHIDAT' %}
            <div class="col-2  m-auto">
                {#                <div class="col m-auto border border-warning border-5 rounded">#}
                {#                <a class="btn btn-success mt-1" style="color: black; background-color: #0dbf92"#}
                {#                    href="{% url 'create_contract_details' %}" role="button">Modifica detalii contract</a>#}
                {#                </div>#}
                <div class="col m-auto border border-warning border-5 rounded">
                    <a class="btn btn-warning m-5" style="color: black" href="{% url 'update_angajat' angajat.id %}"
                       role="button">Update Angajat</a>
                </div>
                <br>
                <div class="col m-auto border border-primary border-5 rounded">
                    <a class="btn btn-primary m-5" style="color: black"
                       href="{% url 'create_contract_angajat' angajat.id %}"
                       role="button">Create new contract</a>
                </div>
                <br>
                <div class="col m-auto border border-danger border-5 rounded">
                    {#                {% for status in statuses %}#}
                    <a class="btn btn-danger m-5" style="color: black"
                       href="{% url 'delete_angajat' angajat.id %}" role="button">Delete Angajat</a>
                </div>
            </div>
        {% else %}
            <div class="col-2  m-auto">

                <div class="col m-auto border border-primary border-5 rounded">
                    <a class="btn btn-primary m-5" style="color: black"
                       href="{% url 'create_contract_angajat' angajat.id %}"
                       role="button">Create new contract</a>
                </div>
                <br>
                <div class="col m-auto border border-primary border-5 rounded">
                    <a class="btn btn-primary m-5" style="color: black" href="{% url 'update_status' angajat.id %}"
                       role="button">Update status</a>
                </div>
                <br>
                <div class="col m-auto border border-danger border-5 rounded">
                    {#                {% for status in statuses %}#}
                    <a class="btn disabled btn-light m-5" style="color: black"
                       role="button">Angajat dezactivat</a>

                </div>
            </div>
        {% endif %}
        {#        {% endwith %}#}
    </div>
    <div class="row flex justify-content-start m-1">
        <p>{% include 'registration/login_out_buttons.html' %}</p>
    </div>
{% endblock %}

{#        {% endwith %}#}

{#            <div class="col m-auto border border-warning border-5 rounded">#}
{#                <a class="btn btn-warning m-5" style="color: black" href="{% url 'update_angajat' angajat.id %}" role="button">Update Angajat</a>#}
{#            </div><br>#}
{#            <div class="col m-auto border border-danger border-5 rounded">#}
{#                {% for status in statuses %}#}
{#                {% with status=statuses|first %}#}
{#                    {% if status.status.view_value != 'LICHIDAT' %}#}
{##}
{#                        <a class="btn btn-danger m-5" style="color: black"#}
{#                                               href="{% url 'delete_angajat' angajat.id %}" role="button">Delete Angajat</a>#}
{#                    {% else %}#}
{#                        <a class="btn disabled btn-light m-5" style="color: black"#}
{#                                role="button">Angajat dezactivat</a>#}
{##}
{#                    {% endif %}#}
{#                {% endwith %}#}
{#                {% endfor %}#}
{#            </div>#}


{#            <div class="col m-auto border border-danger border-5 rounded">#}
{#                <a class="btn btn-danger m-5" style="color: black" href="{% url 'delete_angajat' angajat.id %}" role="button">Delete Angajat</a>#}
{#            </div>#}
{#             <a class="btn btn-danger m-5" style="color: black" href="{% url 'delete_angajat' angajat.id %}" role="button">Delete Angajat</a>#}
{#        </div>#}
{#        <div class="col-2  m-auto border border-danger border-5 rounded">#}
{#            <a class="btn btn-warning m-5" style="color: black" href="{% url 'update_angajat' angajat.id %}" role="button">Update Angajat</a>#}
{#        </div>#}
{#        <p style="margin-top: 5px">{% include 'registration/login_out_buttons.html' %}</p>#}
{#    </div>#}
{##}
{#    <h2>{{ details_employee.nume_angajat }}-{{ details_employee.prenume_angajat }}</h2>#}
{#    <p> Functie: <b>{{ details_employee.functie.upper }}</b>;#}
{#        Data angajarii:<b>{{ details_employee.data_angajarii }}</b></p>#}
{#    <p><b>StatusAngajat:</b> {{ details_employee.get_status_display }} </p>#}
{#    <p><b>StatusAngajat:</b> {{ details_employee.status }} </p>#}
{#    <p> Data introducere:<b>{{ details_employee.data_introducere.date }}</b></p>#}
{#    {% for comentariu in comentarii %}#}
{#        <h5>Comentarii/ Note</h5>#}
{#        <p> {{ comentariu.continut }}</p>#}
{#    {% endfor %}#}
{##}
{#    <p style="margin-top: 5px">{% include 'registration/login_out_buttons.html' %}</p>#}
{##}
{#{% endblock %}#}