{% extends 'base.html' %}
{% load static %}
{#{% block head %}#}
{#    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>#}
{#{% endblock %}#}
{% block title %}AngaGest{% endblock %}
{#{% block title %}<img src="{% static '/LOGO.jpg' %}" alt="AngaGest"> AngaGest {% endblock %}#}
{#{% block title %}<link rel="shortcut icon" type="image/jpg" href="/LOGO.jpg" > AngaGest {% endblock %}#}
{% block head %}

{% endblock %}
{% block content %}
    <style>
        .clasa_de_creat {
            background-color: pink;
        }
    </style>
{#    <div class="row flex justify-content-start ms-1" style="width: 99%">#}
    <div class="row m-1">
        <div id="date_companie" class="col-xl-4 col-lg-5 col-md-6 col-sm-11 border border-primary border-5 rounded"
                                style="padding-bottom: 1%">
            <h3>Date Companie</h3>
            {% for companie in companii %}
                <p>
                    {#                <a href="{% url 'home' %}">#}
                    {% if request.user.is_staff %}
                        <b><a href="{% url 'companie_detail' companie.id %}">{{ companie.nume }}</a></b><br/>
                    {% else %}
                        <b>{{ companie.nume }}</b><br/>
                    {% endif %}
                    <b>ADRESA:</b> {{ companie.adresa }}<br/>
                    <b>CUI:</b> {{ companie.cui }}<br/>
                    <b>CIF:</b> {{ companie.cif }}<br/>
                    <b>TEL:</b> {{ companie.telefon }}<br/>
                    <b>EMAIL:</b> {{ companie.email }}<br/>
                    <b>Website:</b> <a href="{{ companie.website }}" target="_blank">{{ companie.website }}</a><br/>
                    <b>CONT RON:</b> {{ companie.cont_bancar_eur }}<br/>
                    <b>CONT EURO:</b> {{ companie.cont_bancar_ron }}
                    {#                </a>#}
                </p>
            {% endfor %}
        </div>
        {% if request.user.is_staff %}
{#            <div class="col-3 m-1 border border-warning border-5 rounded">#}
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-11 border border-warning border-5 rounded"
                 style="padding-bottom: 1%">
                {% if perms.angajati.add_employee %}
                    <a class="btn btn-success mt-1" style="color: black; background-color: #0dbf92"
                       href="{% url 'creaza_angajat' %}" role="button">Adauga Angajat</a>
{#                    <a class="btn btn-success mt-1" style="color: black; background-color: #dc3545"#}
{#                       href="{% url 'create_register' %}" role="button">Adauga Angajat + User</a>#}
                    <a class="btn btn-success mt-1" style="color: black; background-color: #c2787b"
                       href="{% url 'upload_angajati' %}" role="button">Upload angajati</a>

                {% endif %}

                {% if perms.angajati.add_status %}
                    <a class="btn btn-success mt-1" style="color: black; background-color: #ffca2c"
                       href="{% url 'create_status' %}" role="button">Creeaza status</a>
                {% endif %}
                {% if perms.angajati.add_functie %}
                    <a class="btn btn-success mt-1" style="color: black; background-color: #0a53be"
                       href="{% url 'create_functie' %}" role="button">Creeaza functie</a>
                    <a class="btn btn-success mt-1" style="color: black; background-color: #9c27b0"
                       href="{% url 'upload_csv' %}" role="button">Upload pontaj</a>
                {% endif %}

                {% if perms.angajati.add_company %}
                    {% if not companii %}
                        <a class="btn btn-success mt-1" style="color: black; background-color: #97d2f3"
                           href="{% url 'create_companie' %}" role="button">Creeaza companie</a>
                    {% else %}
                        {% for companie in companii %}
                            <a class="btn btn-success mt-1" style="color: black; background-color: #0fbc7c"
                               href="{% url 'update_companie' companie.id %}" role="button">Modifica companie</a>
                        {% endfor %}
                    {% endif %}
                {% endif %}


            </div>
{#            <div class="col-3 m-1 border border-danger border-5 rounded">#}
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-11 border border-danger border-5 rounded"
                 style="padding-bottom: 1%">
                <a class="btn btn-info mt-1" style="color: black; background-color: #dc3545"
                   href="{% url 'employees_actives' %}" role="button">
                    Toti Angajatii</a>
                <a class="btn btn-info mt-1" style="color: black; background-color: #ffca2c"
                   href="{% url 'status_all' %}" role="button">
                    Toate Status-urile</a>
                <a class="btn btn-info mt-1" style="color: black; background-color: #0a53be"
                   href="{% url 'functie_all' %}" role="button">
                    Toate Functiile</a>
                <a class="btn btn-info mt-1" style="color: black; background-color: #9c27b0"
                   href="{% url 'pontaj_lunar' %}" role="button">
                    Pontaj lunar</a>
                <p>Buton CRUD</p>
                <p>Buton CRUD</p>

            </div>
        {% endif %}
    </div>

    {% if request.user.is_authenticated %}
        {#        <p>{% include 'partials/staff_homepage_view.html' %}</p>#}
        {% if request.user.is_staff %}
            {#        <div class="container-flex ms-3" style="max-width: fit-content">#}
            <div class="container-flex ms-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">

                <h2><b>Detalii Angajati</b></h2>
                <table id="myTable" class="border-3" style="border-color: grey">
                    <thead>
                    <tr>
                        <th class="bg-dark"><input id="" type="checkbox" onclick="toggleSelect()"/></th>
                        {% for head in head_table %}
                            <th class="bg-dark text-secondary" style="text-align: center">
                                <div>
                                    <p>{{ head }}</p>
                                </div>

                                <div class="d-flex">
                                    <span>
                                        <input name="{{ head }}" style="width: 140px" class="form-fluid m-2 bg-white"
                                               type="text"
                                               id="{{ head }}"
                                               onkeyup="myFunction({{ forloop.counter }},id)"
                                               placeholder="Search...">
                                    </span>
                                    <span>
                                        <button type="button" class="btn btn-outline-secondary "
                                                onclick=sortTable({{ forloop.counter }})><i
                                                class="bi bi-sort-alpha-down"></i>
                                        </button>
                                    </span>
                                </div>
                            </th>
                        {% empty %}
                            <p>There is no data yet!</p>>
                        {% endfor %}
                        <th class="bg-dark"></th>
                        <th class="bg-dark"></th>
                        <th class="bg-dark"></th>
                        <th class="bg-dark"></th>
                        <th class="bg-dark"></th>
                    </tr>
                    </thead>
                    <tbody>


                    {% for angajat in angajati_cu_detalii %}
                        <tr>
                            <td class="bg-dark"><input value="{{ column_value.id }}" type="checkbox" name="chk"/></td>
                            <td class="bg-dark disabled text-secondary" style="text-align: center"><a
                                    href="{% url 'details_employee' angajat.angajat.id %}">{{ angajat.angajat.nume_angajat }}</a>
                            </td>
                            <td class="bg-dark disabled text-secondary" style="text-align: center"><a
                                    href="{% url 'details_employee' angajat.angajat.id %}">{{ angajat.angajat.prenume_angajat }}</a>
                            </td>
                            <td class="bg-dark disabled text-secondary"
                                style="text-align: center">{{ angajat.last_status.status.view_value }}</td>
                            <td class="bg-dark disabled text-secondary"
                                style="text-align: center">{{ angajat.actual_contract_details.functie }}</td>
                            <td class="bg-dark disabled text-secondary"
                                style="text-align: center">{{ angajat.actual_contract_details.salar_brut }}</td>
                            <td class="bg-dark disabled text-secondary"
                                style="text-align: center">pontaj {{ angajat.angajat.id_pontaj }}</td>
                            <td class="bg-dark disabled text-secondary"
                                style="text-align: center">{{ angajat.last_comment.continut }}</td>
                            {% if angajat.angajat.user.is_active and angajat.angajat.user.is_staff == False and angajat.angajat.user.is_superuser == False %}
                                <td class="bg-dark disabled text-secondary" style="text-align: center">
                                    {{ angajat.angajat.user.username }}-ACTIV <br> fara drepturi de modificari
                                </td>
                            {% elif angajat.angajat.user.is_staff %}
                                <td class="bg-dark disabled text-secondary" style="text-align: center">
                                    {{ angajat.angajat.user.username }}-STAFF
                                </td>
                            {% else %}
                                <td class="bg-dark disabled text-secondary" style="text-align: center">
                                    {{ angajat.angajat.user.username }}-USER INACTIV
                                </td>
                            {% endif %}
                            {#                        <td class="bg-dark disabled text-secondary" style="text-align: center">{{ angajat.angajat.user.username }}-{{ angajat.angajat.user.is_active }}</td>#}
                            {% if angajat.last_status.status.view_value != 'LICHIDAT' and angajat.angajat.user.is_active %}
                                <td class="bg-dark"><a class="btn btn-danger m-2" style="color: black"
                                                       href="{% url 'delete_angajat' angajat.angajat.id %}"
                                                       role="button">Dezactiveaza Angajat<br>+User</a>
                                </td>
                                <td class="bg-dark"><a class="btn btn-warning m-2" style="color: black"
                                                       href="{% url 'update_angajat' angajat.angajat.id %}"
                                                       role="button">Update angajat</a>
                                </td>
{#                                <td class="bg-dark"><a class="btn btn-primary m-2" style="color: black"#}
{#                                                       href="{% url 'status_angajat_update' angajat.angajat.id %}"#}
{#                                                       role="button">Update status</a>#}
{#                                </td>#}
{#                                <td class="bg-dark"><a class="btn btn-primary m-2" style="color: black"#}
{#                                                       href="{% url 'update_contract' angajat.angajat.id %}"#}
{#                                                       role="button">Update contract actual</a>#}
{#                                </td>#}
                                {#                        {% elif  %}#}
                            {% elif angajat.last_status.status.view_value == 'LICHIDAT' and angajat.angajat.user.is_active %}
                                <td class="bg-dark"><a class="btn btn-danger m-2" style="color: black"
                                                       href="{% url 'delete_angajat' angajat.angajat.id %}"
                                                       role="button">Dezactiveaza User</a>
                                </td>
                                <td class="bg-dark"><a class="btn btn-primary m-2" style="color: black"
                                                       href="{% url 'update_contract' angajat.angajat.id %}"
                                                       role="button">Update contract</a>
                                </td>
                                <td class="bg-dark"><a class="btn btn-primary m-2" style="color: black"
                                                       href="{% url 'update_status' angajat.angajat.id %}"
                                                       role="button">Update status</a>
                                </td>

                            {% else %}
                                <td class="bg-dark">
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="angajat_id" value="{{ angajat.angajat.id }}">
                                        <input type="hidden" name="activate" value="">
                                        <button type="submit" class="btn btn-primary clasa_de_creat"
                                                style="color: black"
                                                role="button">Reactiveaza User
                                        </button>
                                    </form>
                                </td>
                                <td class="bg-dark"><a class="btn btn-primary m-2" style="color: black"
                                                       href="{% url 'update_contract' angajat.angajat.id %}"
                                                       role="button">Reactiveaza contract Angajat</a>
                                </td>
                                <td class="bg-dark"><a class="btn btn-primary m-2" style="color: black"
                                                       href="{% url 'update_status' angajat.angajat.id %}"
                                                       role="button">Reactiveaza status Angajat</a>
                                </td>
                            {% endif %}
                            {#                        <td class="bg-dark"><a class="btn btn-warning m-2" style="color: black"#}
                            {#                                               href="{% url 'update_angajat' angajat.angajat.id %}" role="button">Update angajat</a>#}
                            {#                        </td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p><b>Nume:</b>{{ angajat.nume_angajat.capitalize }} {{ angajat.prenume_angajat.capitalize }}</p>
            <p><b>Functie:</b> {{ contract_details.functie }};<b>Salar brut:</b>{{ contract_details.salar_brut }}</p>
            <p><b>Data inceput functie:</b> {{ contract_details.data_inceperii }};<b>Nr.
                cartela: </b>{{ angajat.nr_cartela }}</p>
            <p><b>User:</b> {{ user }}</p>
        {% endif %}
    {% endif %}
<p style="margin-top: 10px; margin-left: 10px">{% include 'registration/login_out_buttons.html' %}</p>

{% endblock %}
{##}
{#    <div class="row flex justify-content-center ms-2" >#}
{#        {% if request.user.is_staff %}#}
{#            <h2><b>Detalii Angajati</b></h2>#}
{#            <table class="table table-striped table-hover text-center">#}
{#                <thead>#}
{#                    <tr class="filters">#}
{#https://www.w3schools.com/howto/howto_js_filter_table.asp#}
{#                    https://www.youtube.com/watch?v=yP4ghQya9h4#}
{#                        {% for head in head_table %}#}
{#                            <th scope="col"><input type="text" class="form-control" placeholder="{{ head }}" disabled>{{ head }}</th>#}
{#                        {% endfor %}#}
{#                    </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for angajat in angajati_cu_detalii %}#}
{#                    <tr>#}
{#                        <td>{{ angajat.angajat.nume_angajat }}</td>#}
{#                        <td>{{ angajat.angajat.prenume_angajat }}</td>#}
{#                        <td>{{ angajat.last_status.status.view_value }}</td>#}
{#                        <td>{{ angajat.actual_contract_details.functie }}</td>#}
{#                        <td>{{ angajat.actual_contract_details.salar_brut }}</td>#}
{#                        <td>{{ angajat.actual_contract_details.naveta }}</td>#}
{#                        <td>{{ angajat.last_comment.continut }}</td>#}
{#                        <td>{{ angajat.angajat.user.username }}</td>#}
{##}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#            <h2><b>Angajati</b></h2>#}
{#            {% for angajat in angajati_cu_detalii %}#}
{#                <p><a href="{%  url 'details_employee' angajat.angajat.id %}">#}
{#                {{ angajat.angajat }}<br/>#}
{#                data introducere: {{ angajat.angajat.data_introducere }}#}
{#                </a></p>#}
{#            {% endfor %}#}
{#        {% else %}#}
{#            <p><b>Nume:</b>{{ angajat.nume_angajat.capitalize }} {{ angajat.prenume_angajat.capitalize }}</p>#}
{#            <p><b>Functie:</b> {{ contract_details.functie }};<b>Salar brut:</b>{{ contract_details.salar_brut }}</p>#}
{#            <p><b>Data inceput functie:</b> {{ contract_details.data_inceperii }};<b>Nr. cartela: </b>{{ angajat.nr_cartela }}</p>#}
{#            <p><b>User:</b> {{ user }}</p>#}
{#        {% endif %}#}
{#    </div>#}


{#     aaa   {% if request.user.is_staff %}#}
{#            <h1>Angajati</h1>#}
{#            <div class="row">#}
{#                <div class="col-md-11">#}
{#                    <table class="table table-striped table-hover">#}
{#                        <thead>#}
{#                            <tr>#}
{#                                <th scope="col">ID</th>#}
{#                                <th scope="col">Nr.Cartela</th>#}
{#                                <th scope="col">Nume</th>#}
{#                                <th scope="col">Prenume</th>#}
{#                                <th scope="col">CNP</th>#}
{#                                <th scope="col">Comments</th>#}
{#                            </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{##}
{#                       TODO https://stackoverflow.com/questions/59599220/display-data-in-tables-in-django#}
{#                        {% for angajat in angajati %}#}
{#                            <tr>#}
{#                                <td><strong>{{ angajat.id }}</strong></td>#}
{#                                <td><strong>{{ angajat.nr_cartela }}</strong></td>#}
{#                                <td><strong>{{ angajat.nume_angajat }}</strong></td>#}
{#                                <td><strong>{{ angajat.prenume_angajat }}</strong></td>#}
{#                                <td><strong>{{ angajat.cnp }}</strong></td>#}
{#                                {% for comment in comentarii %}#}
{#                                    <td><strong>{{ comment.continut }}</strong></td>#}
{#                                {% endfor %}#}
{#                            </tr>#}
{#                        {% endfor %}#}
{##}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}
{#         aaa   </div>#}

{#    {% if request.user.is_anonymous %}#}
{#        <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>#}
{#    {% else %}#}
{#        <a class="btn btn-secondary" href="{% url 'logout' %}?next=/" role="button">Logout</a>#}
{#    {% endif %}#}

{#alt tabel filtrat checkbox #}
{#<div class="container mt-5 px-2">#}
{#        <div class="mb-2 d-flex justify-content-between align-items-center">#}
{#            <div class="position-relative"> <span class="position-absolute search"><i class="fa fa-search"></i></span> <input class="form-control w-100" placeholder="Search by order#, name..."> </div>#}
{#            <div class="px-2"> <span>Filters <i class="fa fa-angle-down"></i></span> <i class="fa fa-ellipsis-h ms-3"></i> </div>#}
{#        </div>#}
{#        <div class="table-responsive">#}
{#            <table class="table table-responsive table-borderless">#}
{#                <thead>#}
{#                    <tr class="bg-light">#}
{#                        <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>#}
{#                        <th scope="col" width="5%">#</th>#}
{#                        <th scope="col" width="20%">Date</th>#}
{#                        <th scope="col" width="10%">Status</th>#}
{#                        <th scope="col" width="20%">Customer</th>#}
{#                        <th scope="col" width="20%">Purchased</th>#}
{#                        <th scope="col" class="text-end" width="20%"><span>Revenue</span></th>#}
{#                    </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                    <tr>#}
{#                        <th scope="row"><input class="form-check-input" type="checkbox"></th>#}
{#                        <td>12</td>#}
{#                        <td>1 Oct, 21</td>#}
{#                        <td><i class="fa fa-check-circle-o green"></i><span class="ms-1">Paid</span></td>#}
{#                        <td><img src="https://i.imgur.com/VKOeFyS.png" width="25"> Althan Travis</td>#}
{#                        <td>Wirecard for figma</td>#}
{#                        <td class="text-end"><span class="fw-bolder">$0.99</span> <i class="fa fa-ellipsis-h ms-2"></i></td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <th scope="row"><input class="form-check-input" type="checkbox"></th>#}
{#                        <td>14</td>#}
{#                        <td>12 Oct, 21</td>#}
{#                        <td><i class="fa fa-dot-circle-o text-danger"></i><span class="ms-1">Failed</span></td>#}
{#                        <td><img src="https://i.imgur.com/nmnmfGv.png" width="25"> Tomo arvis</td>#}
{#                        <td>Altroz furry</td>#}
{#                        <td class="text-end"><span class="fw-bolder">$0.19</span> <i class="fa fa-ellipsis-h ms-2"></i></td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <th scope="row"><input class="form-check-input" type="checkbox"></th>#}
{#                        <td>17</td>#}
{#                        <td>1 Nov, 21</td>#}
{#                        <td><i class="fa fa-check-circle-o green"></i><span class="ms-1">Paid</span></td>#}
{#                        <td><img src="https://i.imgur.com/VKOeFyS.png" width="25"> Althan Travis</td>#}
{#                        <td>Apple Macbook air</td>#}
{#                        <td class="text-end"><span class="fw-bolder">$1.99</span> <i class="fa fa-ellipsis-h ms-2"></i></td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <th scope="row"><input class="form-check-input" type="checkbox"></th>#}
{#                        <td>90</td>#}
{#                        <td>19 Oct, 21</td>#}
{#                        <td><i class="fa fa-check-circle-o green"></i><span class="ms-1">Paid</span></td>#}
{#                        <td><img src="https://i.imgur.com/VKOeFyS.png" width="25"> Travis head</td>#}
{#                        <td>Apple Macbook Pro</td>#}
{#                        <td class="text-end"><span class="fw-bolder">$9.99</span> <i class="fa fa-ellipsis-h ms-2"></i></td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <th scope="row"><input class="form-check-input" type="checkbox"></th>#}
{#                        <td>12</td>#}
{#                        <td>1 Oct, 21</td>#}
{#                        <td><i class="fa fa-check-circle-o green"></i><span class="ms-1">Paid</span></td>#}
{#                        <td><img src="https://i.imgur.com/nmnmfGv.png" width="25"> Althan Travis</td>#}
{#                        <td>Wirecard for figma</td>#}
{#                        <td class="text-end"><span class="fw-bolder">$0.99</span> <i class="fa fa-ellipsis-h ms-2"></i></td>#}
{#                    </tr>#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}