{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block title %}Pontaj{% endblock %}
{% block content %}
    <head>
        <title>List of persons</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        {% render_table table %}
    </body>
{% endblock %}