{% extends 'base.html' %}
{% load static %}
{% block title %}Pontaj All{% endblock %}

{% block content %}
    <a href="{% url 'export_csv_angajati' %}">Export</a>

    <div class="container-flex ms-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">
        <h2><b>Pontaj Angajati</b></h2>
        <table id="myTable" class="border-3" style="border-color: grey">
            <thead>
            <tr>
                <th class="bg-dark"><input id="" type="checkbox" onclick="toggleSelect()"/></th>
                {% for head in table_head %}
                    <th class="bg-dark text-secondary" style="text-align: center">
                        <div>
                            <p>{{ head }}</p>
                        </div>
                        <div class="d-flex">
                            <span>
                                <input name="{{ head }}" style="width: 140px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="{{ head }}"
                                       onkeyup="myFunction({{ forloop.counter }},id)"
                                       placeholder="Search...">
                            </span>
{#                            <span>#}
{#                                <button type="button" class="btn btn-outline-secondary "#}
{#                                        onclick=sortTable({{ forloop.counter }})><i#}
{#                                        class="bi bi-sort-alpha-down"></i>#}
{#                                </button>#}
{#                            </span>#}
                        </div>
                    </th>
                {% empty %}
                            <p>There is no data yet!</p>>
                {% endfor %}
                <th class="bg-dark"></th>
                <th class="bg-dark"></th>
                <th class="bg-dark"></th>
            </tr>
            </thead>
            <tbody>
                {% if request.user.is_staff %}
                    {% for angajat_statuses in all_statusuri %}
                        {% for status in angajat_statuses %}
                            <tr>
                                <td class="bg-dark"><input value="{{ column_value.id }}" type="checkbox" name="chk"/></td>
                                <td class="bg-dark disabled text-secondary" style="text-align: center">
                                    <a href="{% url 'details_employee' status.angajat.id %}">
                                    {{ status.angajat.nume_angajat }}</a>
                                </td>
                                <td class="bg-dark disabled text-secondary" style="text-align: center">
                                    <a href="{% url 'details_employee' status.angajat.id %}">
                                    {{ status.angajat.prenume_angajat }}</a>
                                </td>
                                <td class="bg-dark disabled text-secondary"
                                    style="text-align: center">
                                    {{ status.date_time_in.astimezone.date.day}}/{{ status.date_time_in.astimezone.date.month}}  --
                                    {{ status.date_time_in.astimezone.hour }}:{{ status.date_time_in.astimezone.minute }}   ---</td>
                                <td class="bg-dark disabled text-secondary"
                                    style="text-align: center">
                                    ---   {{ status.date_time_out.astimezone.hour }}:{{ status.date_time_out.astimezone.minute }}
                                    -- {{ status.date_time_out.astimezone.date.day}}/{{ status.date_time_out.astimezone.date.month}}
                                </td>
                                <td class="bg-dark disabled text-secondary"
                                    style="text-align: center">{{ status.hours_worked }}</td>
                                <td class="bg-dark"><a class="btn btn-primary m-2 btn-sm" style="color: black"
                                                       href="{% url 'status_angajat_update' status.id %}"
                                                       role="button">Update status</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}


                {% endif %}
            </tbody>


        </table>
    </div>

{% endblock %}



{#/////#}
{#template cu pontaj, fara tabel#}
{#    {% if request.user.is_staff %}#}
{#        <div class="container-flex ms-3">#}
{#            {% for angajat_statuses in all_statusuri %}#}
{#                {% for status in angajat_statuses %}#}
{#                    <div>#}
{#                        {{ status.angajat.nume_angajat }}#}
{#                        {{ status.angajat.prenume_angajat }}#}
{#                        in: {{ status.date_time_in }}#}
{#                        out: {{ status.date_time_out }}#}
{#                        hours: {{ status.hours_worked }}#}
                        {#                        <span><a class="btn btn-primary m-2" style="color: black"#}
                        {#                                 href="{% url 'update_status' status.id %}"#}
                        {#                                 role="button">Update status</a></span>#}
{#                        <span><a class="btn btn-primary m-2 btn-sm" style="color: black"#}
{#                                 href="{% url 'status_angajat_update' status.id %}"#}
{#                                 role="button">Update status</a></span>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#        </div>#}
{#    {% endif %}#}
{# ///// #}
