{% extends 'base.html' %}
{% block title %}Modifica interval status {% endblock %}
{% block content %}
    <div>1. {{ angajat }}<br/>
        2. {{ all_statuses_angajat.first }}<br/>
        2. {{ all_statuses_angajat.4 }}<br/>
        3. {{ start_date }}<br/>
        4. {{ end_date }}<br/>
    </div>
    <form method="post">
        {% csrf_token %}
            {{ status_form.as_p }}
            <div>
                <input name="{{ angajat_status.status }}" type="text" id="{{ angajat_status.status }}" placeholder="{{ angajat_status.status }}">
            </div>
            <div>
                <input name="{{ start_data }}" type="text" id="{{ start_data }}" placeholder="{{ start_data }}">
            </div>
            <div>
                <input name="{{ stop_data }}" type="text" id="{{ stop_data }}" placeholder="{{ stop_data }}">
            </div>
            <div>
                {{ angajat_status }}
            </div>
            <button type="submit" class="btn-success btn-lg m-3">Modifica status</button>
    </form>
{% endblock %}