{% extends 'base.html' %}
{% load static %}
{% block title %}Staff{% endblock %}

{% block head %}

{% endblock %}
{% block content %}
    {% if request.user.is_staff %}
    <div class="container-flex ms-3" style="overflow-y: auto;overflow-x: auto;max-width: fit-content">

        <form method="post" id="multiple_delete_form">
            {% csrf_token %}
            <table id="myTable" class="border-3" style="border-color: grey">
                <thead>
                    <h2>Toti Angajatii</h2>
                </thead>
                <thead>
                <tr>
                    <th class="bg-dark"><input id="" type="checkbox" onclick="toggleSelect()"/></th>
                    {% for column_name in table_head %}
                        {% if column_name != 'id' %}
                            <th class="bg-dark text-secondary">
                                <div>
                                    <p>{{ column_name }}</p>
                                </div>
                                <div class="d-flex">
                            <span>
                                <input name="{{ column_name }}" style="width: 140px" class="form-fluid m-2 bg-white"
                                       type="text"
                                       id="{{ column_name }}"
                                       onkeyup="myFunction({{ forloop.counter }},id)"
                                       placeholder="Search...">
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-secondary "
                                        onclick=sortTable({{ forloop.counter }})><i
                                        class="bi bi-sort-alpha-down"></i>
                                </button>
                            </span>
                                </div>
                            </th>
                        {% endif %}
                    {% empty %}
                        <p>There is no data yet!</p>>
                    {% endfor %}
                    <th class="bg-dark"></th>
                    <th class="bg-dark"></th>
                </tr>
                </thead>
                <tbody>
                {% for column_value in table_body %}
                    <tr>
                        <td class="bg-dark"><input value="{{ column_value.id }}" type="checkbox" name="chk"/></td>
                        {% for key, values in column_value.items %}
                            {% if key != 'id' %}
                                <td class="bg-dark disabled text-secondary">{{ values }}</td>
                            {% endif %}
                        {% endfor %}
                        <td class="bg-dark"><a type="button" class="btn btn-outline-danger me-2"
                                               href="/{{ url_delete }}{{ column_value.id }}/">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
    {% endif %}
{% endblock %}
{#    #}
{#     <div class="row flex justify-content-start ms-1" >#}
{#        <div id="date_companie" class="col-5 m-1 border border-primary border-5 rounded">#}
{#        <h3>Date Companie</h3>#}
{#            {% for companie in companii %}#}
{#                <p><a href="{% url 'home' %}">#}
{#                    <b>{{ companie.nume }}</b><br/>#}
{#                    <b>ADRESA:</b> {{ companie.adresa }}<br/>#}
{#                    <b>CUI:</b> {{ companie.cui }}<br/>#}
{#                    <b>CIF:</b> {{ companie.cif }}<br/>#}
{#                    <b>TEL:</b> {{ companie.telefon }}<br/>#}
{#                    <b>EMAIL:</b> {{ companie.email }}<br/>#}
{#                    <b>CONT RON:</b> {{ companie.cont_bancar_eur }}<br/>#}
{#                    <b>CONT EURO:</b> {{ companie.cont_bancar_ron }}#}
{#                </a></p>#}
{#            {% endfor %}#}
{#        </div>#}




{#{% endblock %}#}
{#<body class="bg-secondary">#}
{#    {% include 'partials/navbar.html' %}#}
{#    <div class="container my-4 w-50">#}
{#        <div id="mylist" class="card">#}
{#            <div class="row mt-3">#}
{#                <div class="col-10">#}
{#                    <input type="search" class="search form control" placeholder="Search here...">#}
{#                </div>#}
{#            </div>#}
{#            <ul class="list list-group list-group-flush"></ul>#}
{#            <div class="flex justify-content-center mt-2">#}
{#                <ul class="pagination"></ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div style="display: none">#}
{#        <li id="myitem" class="list-group-item">#}
{#            <h4 class="name mb-0"></h4>#}
{#            <small class="city text-muted"></small>#}
{#            <div class="d-flex justify-content-between">#}
{#                <div class="ext"></div>#}
{#                <div class="date"></div>#}
{#            </div>#}
{#        </li>#}
{##}
{#    </div>#}
{#    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>#}
{#    <script src="js/bootstrap.bundle.min.js"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>#}
{##}
{#</body>#}
{##}
{##}
{##}
{##}
{##}

{##}
{#{% block content %}#}
{#    {% if request.user.is_staff %}#}
{#        <h2><b>Detalii Angajati</b></h2>#}
{#        <table class="table table-striped table-hover">#}
{#            <thead>#}
{#                <tr>#}
{#                    {% for head in head_table %}#}
{#                        <th scope="col">{{ head }}</th>#}
{#                    {% endfor %}#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for angajat_cu_detalii in angajati_cu_detalii %}#}
{#                <tr>#}
{#                        <td>{{ angajat_cu_detalii.angajat.user.username }}</td>#}
{#                        <td>{{ angajat_cu_detalii.angajat.nume_angajat }}</td>#}
{#                        <td>{{ angajat_cu_detalii.angajat.prenume_angajat }}</td>#}
{#                        <td>{{ angajat_cu_detalii.last_status.status.view_value }}</td>#}
{#                        <td>{{ angajat_cu_detalii.actual_contract_details.functie }}</td>#}
{#                        <td>{{ angajat_cu_detalii.actual_contract_details.functie }}</td>#}
{#                        <td>{{ contract_detail }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    {% endif %}#}
{#{% endblock %}#}

{#varianta ok in homepage html si view#}
{#        {% if request.user.is_staff %}#}
{#            <h2><b>Detalii Angajati</b></h2>#}
{#            <table class="table table-striped table-hover">#}
{#                <thead>#}
{#                    <tr>#}
{#                        {% for head in head_table %}#}
{#                            <th scope="col">{{ head }}</th>#}
{#                        {% endfor %}#}
{#                    </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for angajat_cu_detalii in angajati_cu_detalii %}#}
{#                    <tr>#}
{#                        <td>{{ angajat_cu_detalii.angajat.nume_angajat }}</td>#}
{#                        <td>{{ angajat_cu_detalii.angajat.prenume_angajat }}</td>#}
{#                        <td>{{ angajat_cu_detalii.last_status.status.view_value }}</td>#}
{#                        <td>{{ angajat_cu_detalii.actual_contract_details.functie }}</td>#}
{#                        <td>{{ angajat_cu_detalii.actual_contract_details.salar_brut }}</td>#}
{#                        <td>{{ angajat_cu_detalii.actual_contract_details.naveta }}</td>#}
{#                        <td>{{ angajat_cu_detalii.last_comment.continut }}</td>#}
{#                        <td>{{ angajat_cu_detalii.angajat.user.username }}</td>#}
{##}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        {% endif %}#}
{#            <h2><b>Angajati</b></h2>#}
{#            {% for angajat in angajati_cu_detalii %}#}
{#                <p><a href="{%  url 'details_employee' angajat.angajat.id %}">#}
{#                {{ angajat.angajat }}<br/>#}
{#                data introducere: {{ angajat.angajat.data_introducere }}#}
{#                </a></p>#}
{#            {% endfor %}#}