{% extends 'base.html' %}
{% block title %}Modifica detalii {{ employee.nume_angajat.capitalize }} {{ employee.prenume_angajat.capitalize }}{% endblock %}
{% block content %}
    <div class="row flex justify-content-start ms-1" style="width: 99%">
        <div class="col-7  m-auto border border-warning border-5 rounded" style="padding: 20px">
            <h3 style="text-align: center">
                {{ employee.nume_angajat.capitalize }}
                {{ employee.prenume_angajat.capitalize }} Id pontaj: {{ employee.id_pontaj }}
            </h3>
            <form method="post">
                {% csrf_token %}
                {{ contract_form.as_p }}
                {{ status_form.as_p }}
                <button type="submit" class="btn-success btn-lg m-3">Modifica contract</button>

            </form>
        </div>
        <p style="margin-top: 40px">{% include 'registration/login_out_buttons.html' %}</p>
    </div>
{% endblock %}