{% extends 'base.html' %}
{% load static %}
{#{% block head %}#}
{#    <link rel="shortcut icon" type="image/png" href="{% static 'proba.ico' %}"/>#}
{#{% endblock %}#}
{% block title %}{{ user_detail.nume_user }}{% endblock %}
{% block content %}
    {% for user in user_detail %}
        <p>Nume user: {{ user.nume_user }}</p>
        <p>Creat la data de: {{ user.data_creare }}</p>
    {% endfor %}
{% endblock %}